<div class="mb-5 mt-3">
  <div class="px-4">
    <div class="row">
      <div class="col-12">
        <button onclick='window.print();' class='btn btn-primary d-print-none'><%= ::Template.human_attribute_name('print') %></button>
      </div>
    </div>
    <br>
    <%= render 'admin/templates/print_template', locals: {template: @template} %>
  </div>
</div>
<%= javascript_tag do %>
  $(document).ready(function(){
    window.print();
  });
<% end %>