<section class="my-customer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd">
        <div class="table-title pt-1 pb-3">
        <img src="<%= asset_path 'user-black.svg' %>" alt="user icon"> <h1 class="title">User KYCs</h1>
        </div>
      </div>
      <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd">
        <div class="table-btn-set float-right pb-3">
          <% if Admin::UserKycPolicy.new(current_user, UserKyc.new(user: @user)).new? %>
            <%= link_to "Add #{global_labels['user_kyc']}", new_admin_user_user_kyc_path(@user), class: 'db-small-btn white bg-light-blue fn-500 modal-remote-form-link', data:{event_category: 'Section', event_action: 'Click', event_name: 'Add User KYC Co Applicant'} %>
          <% end %>
        </div>
      </div>
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
        <div class="box-card relative">
          <%= render 'index', {user_kycs: @user_kycs} %>
        </div>
      </div>
    </div>
  </div>
</section>
