<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="box-card">
        <div class="box-header bg-gradient br-rd-tr-4">
          <h2 class="icon-set icon-file-kycs-white"><%= UserKyc.model_name.human %></h2>
        </div>
        <div class="box-content br-rd-bl-4 bg-white p-0 pt-1">
          <div class="pd-box">
            <%= render 'admin/user_kycs/show', user_kyc: @user_kyc %>
          </div>
        </div>
      </div>
      <div class="mt-3"></div>
      <% if policy([:admin, Crm::Base.new()]).choose_crm? && current_client.external_api_integration? && apis = Crm::Base.active_apis(@user_kyc, current_user.role).presence %>
        <div class="col-md-12 mt-3">
          <%= render 'admin/crm/base/crms', { apis: apis, resource: @user_kyc } %>
        </div>
      <% end %>
      <%#= render 'sync_logs/sync', { record: @resource } if current_client.external_api_integration? && policy([current_user_role_group, SyncLog.new]).index?  %>
    </div>
  </div>
</div>
