<div class="apartment-selector-wrapper" id="stage-apartment-selector">
  <div class="title">
    Select Unit by Budget or Configuration
  </div>
  <div class="col-12 conf-select-wrapper">
    <div class="col-5 text-left">
      <div class="subtitle">
        Number of Bedrooms
      </div>
      <div class="dropdown-wrapper">
        <select class="init-selectize required" name="bedrooms">
          <option value="">Select Bedrooms</option>
          <% @configurations.each do |c| %>
          <option value="<%= c[:bedrooms] %>"><%= float_to_int(c[:bedrooms]) %> BHK (Starting from <%= number_to_indian_currency(c[:agreement_price]) %>)</option>
          <% end %>
        </select>
      </div>
    </div>
    <div class="col-2 subtitle">
      OR
    </div>
    <div class="col-5 text-left">
      <div class="subtitle">
        Choose your budget
      </div>
      <div class="dropdown-wrapper">
        <select class="init-selectize required" name="agreement_price">
          <option value="">Select Budget</option>
          <option value="2500000-4000000">Rs.25 Lac - 40 Lac</option>
          <option value="4000000-6000000">Rs.40 Lac - 60 Lac</option>
          <option value="6000000-100000000">Rs.60 Lac and above</option>
        </select>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="col-12 fixed-nav-btn">
    <a href="javascript:void(0);" class="nav-btn btn-anim navigate" data-stage="choose-tower" data-navigate-to="next" data-event-category="section" data-event-action="click" data-event-name="budget or configuration NEXT">NEXT →</a>
  </div>
  <div class="clearfix"></div>
</div>
