<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <% if booking_detail.booking_detail_scheme %>
        <%= booking_detail.cost_sheet_template.parsed_content(booking_detail) %>
      <% else %>
        <p class='text-left'> Scheme for this booking is rejected. Please contact administrator. </p>
      <% end %>
    </div>
  </div>
</div>
