<style type="text/css">
	.payment-breakup.mediaCenterAccordion>li{
		border-bottom: 1px solid #c4c4c3;
		padding: 0px 0px;
	}
	.payment-breakup.mediaCenterAccordion li>span{
		background-color: #d3d3d3;
		padding: 15px 15px;
		border-radius: 0px;
		margin: 0px;
		background-position: 98.5% 15px;
	}
	.payment-breakup.mediaCenterAccordion li > span.active{
		background-position: 98.5% 15px;
	}
	.payment-breakup.mediaCenterAccordion li>span.active, .payment-breakup.mediaCenterAccordion li>span:hover{
		background-color: #d3d3d3;
		padding: 15px 15px;
	}
	.mediaCenterAccordion>li>div{
		background-color: #fff;
		padding:20px;
	}
	.mediaCentercontent ul{
		padding-left: 20px;
	}
  @media all and (max-width: 700px){
    .payment-breakup.mediaCenterAccordion li>span{
      font-size: 14px;
      padding: 10px 30px 10px 15px;
    }
  }
</style>
<ul class="payment-breakup mediaCenterAccordion">
  <li>
    <span class="small">TERMS &amp; CONDITIONS</span>
  </li>
</ul>
