<section>
	<div class="col-12 text-center mbottom50">
		<img src="<%= asset_path "embassy_springs_logo.png"%>" class="img-responsive">
	</div>
</section>
<section class="mleft70">
	<div class="col-12">
		<p class="pageTitle pink big">Booking Details</p>
	</div>
	<div class="clearfix"></div>
	<div class="col-12">
		<div class="booking-detail-wrapper">
			<div class="applicant-wrapper pull-left text-left">
				<div class="applicant">Applicant: <span>Mr. John Doe</span></div>
				<div class="applicant">Co-Applicant: <span>Mrs. John Doe</span></div>
			</div>
			<div class="pull-right text-right payment-details-wrapper">
				<div class="payment-details">Agreement Value: <span>Rs. 119 Cr +</span></div>					
				<div class="payment-details">Advance Payment: <span>Rs. 50,000</span></div>
				<div class="payment-details">Balance Payment: <span>Rs. 118 Cr</span></div>
			</div>
			<div class="clearfix"></div>
			<hr />
			<div class="tower-info-wrapper">
				<div class="pull-left">
					<img src="<%= asset_path "wing-icon.png" %>" class="img-responsive">
				</div>
				<div class="pull-left tower-info">
					<span>Tower Name: Gardenia - A</span>
					<span>Unit No: 101 | Floor: 1st Floor</span>
				</div>
				<div class="clearfix"></div>
				<div class="tower-specs">
					<div class="col-4">
						<span class="title">Unit View:</span>
						<span class="specs">East Outward Facing</span>
					</div>
					<div class="col-4">
						<span class="title">Unit Type:</span>
						<span class="specs">3BHK - 2T - A</span>
					</div>
					<div class="col-4">
						<span class="title">Super Built-up Area:</span>
						<span class="specs">1179 sq.ft.</span>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="tower-specs">
					<div class="col-4">
						<span class="title">Built-up Area:</span>
						<span class="specs">926.03 sq.ft.<span>
					</div>
					<div class="col-4">
						<span class="title">Carpet Area:</span>
						<span class="specs">807.30 sq.ft.</span>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="booking-btn-wrapper">	
				<a href="javascript:;" class="btn pink">EXPLORE FLOOR PLANS →</a><a href="javascript:;" class="btn">VIEW KYC DETAILS →</a>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</section>