<section class="mleft70">
	<div class="container">
		<div class="col-12">
			<div class="message-wrapper text-center">
				<div class="pageTitle big pink">PAYMENT FAILURE!</div>
				<p>
					Your payment of was unsuccessful. Please check the credentials and try again.  
				</p>
			</div>
		</div>
	</div>
</section>