<style type="text/css">
	.payment-breakup.mediaCenterAccordion>li{
		border-bottom: 1px solid #c4c4c3;
		padding: 0px 0px;
	}
	.payment-breakup.mediaCenterAccordion li>span{
		background-color: #d3d3d3;
		padding: 15px 15px;
		border-radius: 0px;
		margin: 0px;
		background-position: 98.5% 15px;
	}
	.payment-breakup.mediaCenterAccordion li > span.active{
		background-position: 98.5% 15px;
	}
	.payment-breakup.mediaCenterAccordion li>span.active, .payment-breakup.mediaCenterAccordion li>span:hover{
		background-color: #d3d3d3;
		padding: 15px 15px;
	}
	.mediaCenterAccordion>li>div{
		background-color: #fff;
		padding:20px;
	}
	.mediaCenterAccordion>li>div a{
		color: #6b7e34;
		text-decoration: underline;
	}
	.mediaCentercontent ul{
		padding-left: 20px;
	}
	strong.black{
		font-weight: 500;
		color: #252525;
	}
</style>
<section class="main-wrapper">
	<div class="container-fluid">
		<div class="col-12">
			<ul class="payment-breakup mediaCenterAccordion">
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">01</strong> What is the booking process?</span>
					<div class="mediaCentercontent" style="display: none;">
						<p>
							The booking process is entirely online. Visit <a href="http://www.embassyportal.in" target="_blank">www.embassyportal.in</a> to register.Once your account is activated, you may follow the 4-step booking process to book your apartment.
						</p>
						<p class="text-center">
						<img src="<%= asset_path('steps-Portal-FAQs.jpg') %>" class="img-responsive">
						</p>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">02</strong> How Do I Create My Account?</span>
					<div class="mediaCentercontent">
						<p>
							1. Fill out the enquiry form on <a href="http://www.embassyedge.com" target="_blank">www.embassyedge.com</a> OR <a href="http://www.embassysprings.com/embassyedge" target="_blank">www.embassysprings.com/embassyedge</a> OR visit <a href="http://booking.embassysprings.com" target="_blank">http://booking.embassysprings.com</a><br/>
							2. Click on REGISTER on the bottom left of the sign-up box.<br/>
							3. Fill out the form & click SUBMIT.<br/>
							4. In your inbox, you will receive a verification link from the portal. Click on the link, create your password, and your Embassy Portal account is active!<br/>
							5. You are all set to access the Portal at <a href="http://booking.embassysprings.com" target="_blank">http://booking.embassysprings.com</a>
						</p>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">03</strong> Where can I get some?</span>
					<div class="mediaCentercontent">
					  	<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">04</strong> How Do I Access The Booking Portal?</span>
					<div class="mediaCentercontent">
					  	<p>
					  		<ul>
								<li>Go to the URL :  <a href="http://booking.embassysprings.com" target="_blank">http://booking.embassysprings.com</a> and log in to the portal with your email and password.</li>
								<li>The portal takes you to the dashboard by default.</li>
								<li>View navigation menu on the left.</li>
							</ul>
						</p>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">05</strong> What Are The 4 Booking Steps?</span>
					<div class="mediaCentercontent">
					  	<p>
					  		Login in to the Embassy Portal with your registered email address and password. Click on Apartment Selector in the navigation menu on the left. Now you can book your home in 3 easy steps!
					  	</p>
					  	<ul>
							<li>Filter apartments by configuration or price. Choose a tower and a unit.</li>
							<li>Proceed to the KYC page. Select ADD NEW, fill in your details, and click ADD & HOLD UNIT.</li>
							<li>Review Cost Sheet and Payment Schedule </li>
							<li>Proceed to payments page and make your initial payment of Rs.30,000 to block your home.</li>
						</ul>
						<p>
							Once your payment is processed, the unit you have selected will be blocked/put on hold for 10 days. Within that time, you must make the remaining payment to BOOK and secure ownership of your home, failing which, the unit lapses and goes back into circulation.
						</p>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">06</strong> Why Do You Need So Many KYC Details?</span>
					<div class="mediaCentercontent">
					  	<p>
					  		KYC details are mandatory in order to book your Embassy Home. It makes registration and documentation smooth & hassle-free and keeps you up to date about your payments & transactions.
					  	</p>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">07</strong> How Much Do I Need To Pay To Book?</span>
					<div class="mediaCentercontent">
					  	<ul>
							<li>The payment is split into BLOCKING and BOOKING amount.</li>
							<li>The initial BLOCKING amount is Rs. 30,000. This puts your unit on HOLD.</li>
							<li>Within 10 days of paying the BLOCKING amount, you must pay the remaining </li>
						</ul>
						<p>
							BOOKING amount which is 10% of the AGREEMENT amount. This amount varies from unit to unit. Once the BOOKING amount is cleared and processed, your home is BOOKED!
						</p>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">08 </strong>What Is The Booking Amount?</span>
					<div class="mediaCentercontent">
						<p>
							BOOKING amount is 10% of the AGREEMENT amount.
						</p>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">09 </strong>What Is The Blocking Amount/ How Much Money Do I Have To Pay?</span>
					<div class="mediaCentercontent">
						<p>
							The initial BLOCKING amount is Rs. 30,000. The remaining BOOKING amount (10% of AGREEMENT amount - Rs.30,000) varies depending on the unit and configuration.
						</p>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">10 </strong>Where Do I Download The Receipt? </span>
					<div class="mediaCentercontent">
						<p>
							You can view your past transactions on the PAYMENTS page of the portal.
						</p>
						<ul>
							<li>Log in to the portal with your email and password.</li>
							<li>View navigation menu on the left.</li>
							<li>Click on PAYMENTS</li>
							<li>View all payments and transactions</li>
						</ul>
					</div>
				</li>
				<h3>CHOOSING A UNIT</h3>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">11 </strong> How Can I Browse The Inventory?</span>
					<div class="mediaCentercontent">
						<p>
							Browse inventory on the APARTMENT SELECTOR page.
						</p>
						<p>
							<strong>2D View </strong>
						</p>
						<ul>
							<li>Log in to the portal with your email and password.</li>
							<li>View navigation menu on the left.</li>
							<li>Click on APARTMENT SELECTOR</li>
							<li>Filter by price or configuration</li>
							<li>Browse inventory</li>
						</ul>
						<p>
							<strong>OR</strong>
						</p>
						<p>
							<strong>3D View </strong>
						</p>
						<ul>
							<li>Click on the 3D Model on the top bar and view the entire layout in 3D</li>
							<li>Navigate to the towers of choice</li>
							<li>Click on any of the green dots. These represent available inventory. </li>
						</ul>
						<p>
							Additionally we have executive to help you with choosing a unit live via Live Chat option

						</p>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">12 </strong>How Do I Know Which Apartment Unit To Choose?</span>
					<div class="mediaCentercontent">
						<p>
							The Embassy Portal makes it easy for you to choose a unit. Using the APARTMENT SELECTOR, you can filter options by price or configuration. Once you select a tower, you can click on individual units for more details, including:
						</p>
						<ul>
							<li>Flat number</li>
							<li>Number of bedrooms</li>
							<li>Floor plan</li>
							<li>Carpet area</li>
							<li>Booking status</li>
							<li>Agreement value</li>
						</ul>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">13 </strong>Where Do I Get Pricing Details?</span>
					<div class="mediaCentercontent">
						<p>
							Pricing details for each unit are displayed when you click on the unit.
						</p>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">14 </strong>How Do I Add A Co-Applicant/How Do I Book An Apartment Jointly?</span>
					<div class="mediaCentercontent">
						<ul>
							<li>Log in to the portal with your email and password.</li>
							<li>View navigation menu on the left.</li>
							<li>Click on USER KYC.</li>
							<li>Click on ADD APPLICANT.</li>
							<li>Fill in the form and submit.</li>
						</ul>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">15 </strong>What Is The Guarantee That The Apartment I Choose Will Be The One I Pay For?</span>
					<div class="mediaCentercontent">
						<ul>
							<li>Once you choose a unit and pay the booking amount of Rs. 30,000, the unit is put on HOLD for 10 DAYS, during which time NO ONE ELSE can book that unit.</li>
							<li>Your unit is on HOLD for 10 DAYS and within that time, you have to pay the AGREEMENT amount. Clear this payment within the stipulated time frame of 10 DAYS and the apartment is officially yours.</li>
						</ul>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">15 </strong>What Is The Guarantee That The Apartment I Choose Will Be The One I Pay For?</span>
					<div class="mediaCentercontent">
						<ul>
							<li>Once you choose a unit and pay the booking amount of Rs. 30,000, the unit is put on HOLD for 10 DAYS, during which time NO ONE ELSE can book that unit.</li>
							<li>Your unit is on HOLD for 10 DAYS and within that time, you have to pay the AGREEMENT amount. Clear this payment within the stipulated time frame of 10 DAYS and the apartment is officially yours.</li>
						</ul>
						<p>
							<strong>*Embassy guarantees that the apartment you choose is the one you will get, pending payment clearance.*</strong>
						</p>
					</div>
				</li>
				<h3>
					PAYMENTS
				</h3>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">16 </strong>Whom Do I Pay If I Want To Make Cheque Payment?</span>
					<div class="mediaCentercontent">
						<ul>
							<li>The initial BLOCKING payment of Rs. 30,000 has to be made online via the PAYMENTS page of the Embassy Portal.</li>
							<li>Cheque payments can be submitted at the Embassy office {Map link}</li>
						</ul>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">17 </strong>How Do I Pay Online?</span>
					<div class="mediaCentercontent">
						<ul>
							<li>Log in to the portal with your email and password.</li>
							<li>View navigation menu on the left.</li>
							<li>Click on PAYMENTS</li>
							<li>Under Mode Of Payment, the default option is set to Cheque – choose your mode of payment and proceed to fill in the rest of the details.</li>
							<li>Enter Total Amount and click SAVE</li>
							<li>Under Reference Documents, upload an image of the cheque OR screenshot of NEFT transfer OR screenshot of RTGS transfer.</li>
						</ul>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">18 </strong>How Much Money Can I Pay Online?</span>
					<div class="mediaCentercontent">
						<p>
							The entire BOOKING amount (10% of AGREEMENT amount) can be paid online via the Embassy Portal.
						</p>
					</div>
				</li>
				<h3>CANCELLATIONS</h3>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">19 </strong>How Do I Cancel My Booking?</span>
					<div class="mediaCentercontent">
						<ul>
							<li>Log in to the Booking Portal at <a href="http://booking.embassysprings.com" target="_blank">http://booking.embassysprings.com</a> with your userrname and password</li>
							<li>
								The dashboard shows the units that you have paid blocking/booking amount for Next to the Booking Details is a link called Cancel B
								booking
								<br/>
								<img src="<%= asset_path('cancel-booking.jpg') %>" class="img-responsive" style="width:65%;">
								<br/>
							</li>
							<li>
								Click on this link. You will be taken to the screen - Please note that Rs. 5,000 will be deducted from your payment as cancellation charges.
								<br/>
								<img src="<%= asset_path('cancel-bookin1.png') %>" class="img-responsive" style="width:65%;">
							</li>

							<li>
								Fill out the necessary details and click SUBMIT.
							</li>
							<li>
								You will be asked to upload a photo of cancelled cheque to ensure that refund is sent to the right account.
							</li>
						</ul>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">20 </strong>How Do I Get A Refund On My Cancellation?</span>
					<div class="mediaCentercontent">
						<p>
							Once your booking is cancelled, get in touch with the Embassy customer relations team and they will take you through the next steps.
							Contact the customer relations team here {button} or call on +91______
						</p>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">21 </strong>How Many Days Will It Take To Process A Refund?</span>
					<div class="mediaCentercontent">
						<p>
							Your refund will be processed in  30 working days.
						</p>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">22 </strong>Whom do I pay if I want to make cheque payment?</span>
					<div class="mediaCentercontent">
						<ul>
							<li>It is mandatory to pay the BLOCKING amount of Rs. 30,000 through the booking portal. The rest of the BOOKING amount can be paid via cheque made out to NAM Estates Private Limited OR </li>
							<li>You can choose to pay the remaining BOOKING amount online via the payment gateway within 10 days of paying the BLOCKING amount. </li>
						</ul>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">23 </strong>How do I add a co-applicant?</span>
					<div class="mediaCentercontent">
						<p>
							A co-applicant can be added from the dashboard after you have paid BLOCKING amount of Rs.30,000
						</p>
						<ul>
							<li>Navigate to the dashboard and click on User KYCs from the left menu </li>
							<li>Click ADD APPLICANT button </li>
							<li>Fill out the required details and click SAVE </li>
						</ul>
						<p>
							To add a co-applicant to a unit
						</p>
						<p>STEP 1 - Navigate to the dashboard and click on Update co-applicants link
							<img src="<%= asset_path('update-co-applicant.jpg') %>" class="img-responsive">
						</p>
						<p>
							STEP 2 - Select co-applicants from the drop-down list. Click SUBMIT. The selected co-applicant will be associated with the Booking.

						</p>

					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">24 </strong>What is the facing of the apartment?</span>
					<div class="mediaCentercontent">
						<ul>
							<li>Log in to the Portal. </li>
							<li>Navigate to Apartment Selector from the left menu. </li>
							<li>Click on 3D view. You will be able to get details of the apartment view. </li>
						</ul>
						<p>
							OR
						</p>
						<ul>
							<li>Log in to the Portal. </li>
							<li>Navigate to Apartment Selector from the left menu. </li>
							<li>Follow the 2D apartment selection process. You will be displayed data on the unit facing. </li>
						</ul>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">25 </strong>How do I remit TDS?</span>
					<div class="mediaCentercontent">
						<p>
							Please visit the <a href="/eTutorial_TDS_on_property_etax.pdf" target="_blank">TDS FAQs</a> site for more details on how to remit TDS.
						</p>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">26 </strong>When will the Agreement be executed?</span>
					<div class="mediaCentercontent">
						<p>
							After payment of 10% and after getting all the documents, the Embassy CRM team will initiate the Agreement and will touch base with you regarding that.
						</p>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">27 </strong>What is the timeline to make future payments?</span>
					<div class="mediaCentercontent">
						<p>
							Within 15 days of receiving the Demand Letters. You will get reminders for making payments. Refer to the payment schedule emailed to you for the amount
  						</p>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">28 </strong>When will the project get completed?</span>
					<div class="mediaCentercontent">
						<p>
							As per RERA, the handover timeline is 5 years i.e. May 2023
  						</p>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">29 </strong>When can I register the apartment?</span>
					<div class="mediaCentercontent">
						<p>
							After completing all payments and after the OC is received developer will keep you informed on registration.
  						</p>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">30 </strong>Can I sell before registration? If yes, are there any charges to it?</span>
					<div class="mediaCentercontent">
						<p>
							No, there is a lock in period of 24 months from the date of booking or date of payment of 80% of the consideration.
  						</p>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">31 </strong>What is the interest clause in case of delay in payment?</span>
					<div class="mediaCentercontent">
						<p>
							In case of delay in payment, interest is required to be paid as per SBI MCLR rate
  						</p>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">32 </strong>Is there any extension allowed on payments?</span>
					<div class="mediaCentercontent">
						<p>
							Maximum of 15 days.
  						</p>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">33 </strong>What is the PLC or FRP charges for different apartments?</span>
					<div class="mediaCentercontent">
						<p>
							Refer to the table for PLC and FRP < put_link_here > * These are rates as of today. All rates are subject to change.
  						</p>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">34 </strong>Is combining of apartments allowed? If yes, what are the parameters to be met?</span>
					<div class="mediaCentercontent">
						<p>
							No, this option is not available at the moment.
  						</p>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">35 </strong>Any modification from the standard plan is allowed?</span>
					<div class="mediaCentercontent">
						<p>
							At the moment we do not allow modifications.
  						</p>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">36 </strong>How do I get electrical, plumbing and Autocad drawing of my apartment?</span>
					<div class="mediaCentercontent">
						<p>
							View the documents here < put_the_link > Embassy to provide docs
  						</p>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">37 </strong>Which are the banks who have approved the project?</span>
					<div class="mediaCentercontent">
						<p>
							The following banks have tied up with Embassy Edge at Embassy Springs for loans:
							<ul>
								<li>HDFC</li>
								<li>ICICI</li>
								<li>Axis</li>
								<li>India bulls</li>
								<li>Aditya Birla</li>
								<li>DHFL</li>
							</ul>
  						</p>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">38 </strong>How do I get the Title documents?</span>
					<div class="mediaCentercontent">
						<p>
							The title documents shall be uploaded on the portal, any customer will be able to access these documents once the builder receives 30,000/- payment towards booking of a unit/units.

  						</p>
					</div>
				</li>
				<li>
					<span class="small" data-event-category="section" data-event-action="click" data-event-name="FAQs"><strong class="black">39 </strong>Is any change allowed in the standard Agreements that I need to sign? </span>
					<div class="mediaCentercontent">
						<p>
							No. It is a standard agreement and no changes will be allowed.
  						</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
