<style type="text/css">
	.payment-breakup.mediaCenterAccordion>li{
		border-bottom: 1px solid #c4c4c3;
		padding: 0px 0px;
	}
	.payment-breakup.mediaCenterAccordion li>span{
		background-color: #d3d3d3;
		padding: 15px 15px;
		border-radius: 0px;
		margin: 0px;
		background-position: 98.5% 15px;
	}
	.payment-breakup.mediaCenterAccordion li > span.active{
		background-position: 98.5% 15px;
	}
	.payment-breakup.mediaCenterAccordion li>span.active, .payment-breakup.mediaCenterAccordion li>span:hover{
		background-color: #d3d3d3;
		padding: 15px 15px;
	}
	.mediaCenterAccordion>li>div{
		background-color: #fff;
		padding:20px;
	}
	.mediaCenterAccordion>li>div a{
		color: #6b7e34;
		text-decoration: underline;
	}
	.mediaCentercontent ul{
		padding-left: 20px;
	}
	strong.black{
		display: none;
		font-weight: 500;
		color: #252525;
	}
	@media all and (max-width: 700px){
		.payment-breakup.mediaCenterAccordion li>span{
			font-size: 14px;
			padding: 10px 30px 10px 15px;
		}
	}
</style>
<section class="main-wrapper">
	<div class="container-fluid">
		FAQ goes here...
	</div>
</section>
