<section class="mb-5">
  <% if current_user.buyer? %>
    <%= render 'dashboard/index/user' %>
  <% elsif current_user.role?('channel_partner') %>
    <%= render 'dashboard/index/channel_partner' %>
  <% elsif ['admin', 'sales'].include?(current_user.role) %>
    <%= render 'dashboard/index/admin' %>
  <% elsif DashboardPolicy.new(current_user, :dashboard).admin_dashboard? %>
    <%= render 'dashboard/index/crm' %>
  <% end %>
</section>
