<style type="text/css">
	body{
		background-color: #fff;
	}
</style>
<section>
	<div class="col-12 text-center mbottom50">
		<img src="<%= asset_path "embassy_springs_logo.png"%>" class="img-responsive">
	</div>
</section>
<section class="mleft70">
	<div class="col-12">
		<p class="pageTitle pink big">KYC Form</p>
	</div>
	<div class="kyc-form-wrapper">
		<div class="form-wrapper">
			<form>
				<div class="form-field-wrapper">
					<label>Name*</label>
					<input type="text" class="form-field" />
				</div>
				<div class="form-field-wrapper">
					<label>Phone*</label>
					<input type="text" class="form-field" />
				</div>
				<div class="form-field-wrapper">
					<label>Email*</label>
					<input type="email" class="form-field" />
				</div>
				<div class="form-field-wrapper">
					<label>Date of Birth*</label>
					<input type="date" class="form-field" />
				</div>
				<div class="form-field-wrapper">
					<label>PAN No.*</label>
					<input type="text" class="form-field" />
				</div>
				<div class="form-field-wrapper">
					<label>Aadhar No.</label>
					<input type="text" class="form-field" />
				</div>
				<div class="form-field-wrapper">
					<label>Anniversary Date</label>
					<input type="date" class="form-field" />
				</div>
				<div class="form-field-wrapper">
					<label>NRI</label>
					<label class="radio" data-link="yes">Yes
					  <input type="radio" name="radio">
					  <span class="checkmark"></span>
					</label>
					<label class="radio" data-link="no">No
					  <input type="radio" name="radio">
					  <span class="checkmark"></span>
					</label>
					<div class="hidden-field">
						<p>If yes do you have Power of Attorney in India?</p>
						<input type="text" class="form-field">
					</div>
				</div>
				<div class="form-field-wrapper">
					<label>Current Company Name</label>
					<input type="text" class="form-field" />
				</div>
				<div class="form-field-wrapper">
					<label>GSTIN</label>
					<input type="text" class="form-field" />
				</div>
				<div class="form-field-wrapper">
					<label>Self-funded or Bank Loan*</label>
					<input type="text" class="form-field" />
				</div>
				<div class="form-field-wrapper">
					<label>Have you bought property at Embassy Previously?</label>
					<label class="radio prev-prop" data-href="yes">Yes
					  <input type="radio" name="radio">
					  <span class="checkmark"></span>
					</label>
					<label class="radio prev-prop" data-href="no">No
					  <input type="radio" name="radio">
					  <span class="checkmark"></span>
					</label>
					<div class="hidden-field-prev-prop">
						<p>If yes provide</p>
						<div class="form-field-wrapper">
							<label>Name of project</label><br/>
							<input type="text" class="form-field" />
						</div>
						<div class="form-field-wrapper">
							<label>Name of Owner</label><br/>
							<input type="text" class="form-field" />
						</div>
					</div>
				</div>
				<div class="form-field-wrapper">
					<label>&nbsp;</label>
					<input type="submit" class="form-field btn yellow" style="width:auto" value="submit →" />
				</div>
			</form>
		</div>
	</div>
</section>