<style type="text/css">
	body{
		background-color: #fff;
	}
</style>
<!-- <section>
	<div class="col-12 text-center mbottom50">
		<img src="<%= asset_path "embassy_springs_logo.png"%>" class="img-responsive">
	</div>
</section> -->
<section class="mleft70">
	<div class="col-12">
		<p class="pageTitle pink big">KYC Form</p>
	</div>
	<div class="kyc-form-wrapper">
		<div class="form-wrapper">
			<form>
				<div class="form-field-wrapper">
					<label>Name*</label>
					<input type="text" class="form-field" />
				</div>
				<div class="form-field-wrapper">
					<label>Phone*</label>
					<input type="text" class="form-field" />
				</div>
				<div class="form-field-wrapper">
					<label>Email*</label>
					<input type="email" class="form-field" />
				</div>
				<div class="form-field-wrapper">
					<label>Date of Birth*</label>
					<input type="date" class="form-field" />
				</div>
				<div class="form-field-wrapper">
					<label>PAN No.*</label>
					<input type="text" class="form-field" />
				</div>
				<div class="form-field-wrapper">
					<label>Aadhar No.</label>
					<input type="text" class="form-field" />
				</div>
				<!-- <div class="form-field-wrapper">
					<label>Anniversary Date</label>
					<input type="date" class="form-field" />
				</div> -->
				<div class="form-field-wrapper">
					<label>NRI</label>
					<label class="radio nri" data-link="yes">Yes
					  <input type="radio" name="radio">
					  <span class="checkmark"></span>
					</label>
					<label class="radio nri" data-link="no">No
					  <input type="radio" name="radio">
					  <span class="checkmark"></span>
					</label>
					<div class="hidden-field">
						<p>Do you have Power of Attorney in India?</p>
						<!-- <input type="text" class="form-field"> -->
						<label class="radio attorney" data-link="yes">Yes
						  <input type="radio" name="radio">
						  <span class="checkmark"></span>
						</label>
						<label class="radio attorney" data-link="no">No
						  <input type="radio" name="radio">
						  <span class="checkmark"></span>
						</label>
						<input type="text" class="form-field name-attorney" style="display:none" placeholder="Name"/>
					</div>
				</div>
				<div class="form-field-wrapper">
					<label>Are you a corporate buying an apartment</label>
					<label class="radio company" data-link="yes">Yes
					  <input type="radio" name="radio">
					  <span class="checkmark"></span>
					</label>
					<label class="radio company" data-link="no">No
					  <input type="radio" name="radio">
					  <span class="checkmark"></span>
					</label>
					<div class="hidden-field gstin" style="display:none">
						<p>GSTIN</p>
						<input type="text" class="form-field">
					</div>
				</div>
				<div class="form-field-wrapper">
					<label>Payment Source</label>
					<label class="radio self-funded" data-link="self-funded">Self Funded
					  <input type="radio" name="radio">
					  <span class="checkmark"></span>
					</label>
					<label class="radio bank-loan" data-link="bank-loan">Bank Loan
					  <input type="radio" name="radio">
					  <span class="checkmark"></span>
					</label>
					<div class="hidden-field bank" style="display:none">
						<div class="dropdown-wrapper">
							<select class="init-selectize required" name="configuration">
								<option value="">Select Bank</option>
								<option value="1">HDFC</option>
								<option value="2">Axis</option>
								<option value="3">Other</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-field-wrapper">
					<label>Have you bought property at Embassy Previously?</label>
					<label class="radio prev-prop" data-href="yes">Yes
					  <input type="radio" name="radio">
					  <span class="checkmark"></span>
					</label>
					<label class="radio prev-prop" data-href="no">No
					  <input type="radio" name="radio">
					  <span class="checkmark"></span>
					</label>
					<div class="hidden-field-prev-prop">
						<p>If yes provide</p>
						<div class="form-field-wrapper">
							<label>Name of project</label><br/>
							<input type="text" class="form-field" />
						</div>
						<div class="form-field-wrapper">
							<label>Name of Owner</label><br/>
							<input type="text" class="form-field" />
						</div>
					</div>
				</div>
				<div class="booking-btn-wrapper" style="padding-left:0px">
					<span class="btn pink show-co-apl" data-link="show-co-applicant">Add Co-Applicant</span>
				</div>
				<div id="show-co-applicant" style="display:none">
					<div class="form-field-wrapper">
						<label>Name*</label>
						<input type="text" class="form-field" />
					</div>
					<div class="form-field-wrapper">
						<label>Phone*</label>
						<input type="text" class="form-field" />
					</div>
					<div class="form-field-wrapper">
						<label>Email*</label>
						<input type="email" class="form-field" />
					</div>
					<div class="form-field-wrapper">
						<label>Date of Birth*</label>
						<input type="date" class="form-field" />
					</div>
					<div class="form-field-wrapper">
						<label>PAN No.*</label>
						<input type="text" class="form-field" />
					</div>
				</div>
				<div class="form-field-wrapper">
					<label>&nbsp;</label>
					<input type="submit" class="form-field btn yellow" style="width:auto" value="submit →" />
				</div>
			</form>
		</div>
	</div>
</section>