<style type="text/css">
	body{
		background-color: #fff;
	}
</style>
<section class="mleft70">
	<div class="container">
		<div class="col-12 text-center">	
		<p class="subtitle medium">PAYMENT BREAKUP & UP</p>
	</div>
	<div class="clearfix"></div>

	<div class="col-12">
		<div class="pull-left text-center">
			<img src="<%= asset_path "embassy_springs_logo.png"%>" class="img-responsive">
		</div>
		<div class="payment-details pull-left">
			<p class="subtitle">Project Name:</p>
			<p class="subtitle">Location</p>
			<p class="subtitle">Configuration</p>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>
	<div class="col-12 text-left">
		<p class="subtitle small">APARTMENT TYPE AND COSTING</p>
	</div>
	<div class="clearfix"></div>
	<div class="col-12">
		<table width="100%" cellspacing="0" cellpadding="5" class="payment-breakup" border="0" outline="1">
			<tr>
				<th>
					Sr.no.
				</th>
				<th>
					Type of Apartment
				</th>
				<th>
					2BHK Compact
				</th>
			</tr>
			<tr>
				<td class="center">
					01
				</td>
				<td>
					Apartment Cost (Inclusive of right to use of 1 covered parking) - A
				</td>
				<td>
					Rs. 34,15,200
				</td>
			</tr>
			<tr>
				<td class="center">
					02
				</td>
				<td>
					Club House Development Charges - B
				</td>
				<td>
					Rs. 1,50,000
				</td>
			</tr>
			<tr>
				<td class="center">
					03
				</td>
				<td>
					Floor Rise (If Any) - C - Ground Floor
				</td>
				<td>
					At actuals
				</td>
			</tr>
			<tr>
				<td class="center">
					04
				</td>
				<td>
					Total Cost without Taxes
				</td>
				<td>
					Rs. 35,65,200
				</td>
			</tr>
			<tr>
				<td class="center">
					05
				</td>
				<td>
					Exclusive Balcony Area
				</td>
				<td>
					54 sq.ft.
				</td>
			</tr>
			<tr>
				<td class="center">
					06
				</td>
				<td>
					RERA Carpet Area(sq.ft)
				</td>
				<td>
					460 sq.ft.
				</td>
			</tr>
			<tr>
				<td class="grey">
					&nbsp;
				</td>
				<td class="grey">
					Total Cost
				</td>
				<td class="grey">
					Rs. 35,65,200
				</td>
			</tr>
		</table>
	</div>
	<div class="col-12 text-left">
		<p class="subtitle small">PAYMENT PLAN</p>
	</div>
	<div class="clearfix"></div>
	<div class="col-12">
		<table width="100%" cellspacing="0" cellpadding="5" class="payment-breakup" border="0" outline="1">
			<tr>
				<th>
					Sr.no.
				</th>
				<th>
					Installment Details
				</th>
				<th>
					Payment %
				</th>
				<th>
					Installment Amount
				</th>
			</tr>
			<tr>
				<td class="center">
					01
				</td>
				<td>
					Token Amount 
				</td>
				<td>
					-
				</td>
				<td>
					Rs. 30,000
				</td>
			</tr>
			<tr>
				<td class="center">
					02
				</td>
				<td>
					On application (Within 7 days) from Date of Booking
				</td>
				<td>
					-
				</td>
				<td>
					Rs. 2,70,000
				</td>
			</tr>
			<tr>
				<td class="center">
					03
				</td>
				<td>
					Within 30 Days from the Date of Booking
				</td>
				<td>
					10% Less(Token Amount + Application Money)
				</td>
				<td>
					Rs. 56,250
				</td>
			</tr>
			<tr>
				<td class="center">
					04
				</td>
				<td>
					Within 90 Days from the Date of Booking
				</td>
				<td>
					85%
				</td>
				<td>
					Rs. 30,30,420
				</td>
			</tr>
			<tr>
				<td class="center">
					05
				</td>
				<td>
					On Initimation of Possession
				</td>
				<td>
					5%
				</td>
				<td>
					Rs. 1,78,260
				</td>
			</tr>
			<tr>
				<td class="dark-grey">
					&nbsp;
				</td>
				<td class="dark-grey">
					Total Cost
				</td>
				<td class="dark-grey">
					100%
				</td>
				<td class="dark-grey">
					Rs. 35,65,200
				</td>
			</tr>
		</table>
	</div>
	<div class="clearfix"></div>
	<div class="col-12">
		<ul class="mediaCenterAccordion">
		<li>
			<span class="small">Terms & Conditions</span>
			<div class="mediaCentercontent">
				<ul>
					<li>This Application constitutes an offer by the Applicant/s to acquire an Apartment as mentioned in the Application and is not a concluded contract. The Application does not confer or constitute any right in favour of the Applicant/s for allotment. The Company reserves the right to accept or reject this Application, at its sole discretion and without assigning any reason for the same. </li>
					<li>Only the Indian Residents/Non Resident Indians (NRIs)/Persons of Indian Origin (PIOs)/Companies/ Partnership Firms / LLPs who are competent to enter into contract under the Indian Contract Act, 1872 shall be eligible to apply.</li>
					<li>The Applicant shall be responsible to comply with all the statutory compliances as required from time to time under the applicable laws prevailing in India including the laws applicable to NRIs/PIOs and the Company shall not be liable for the same in any manner whatsoever.</li>
					<li>The online payment of Rs. 30,000/- (Rupees Thirty Thousand Only) herein is subject to the rules and regulations of Reserve Bank of India (RBI) as well as the rules and regulations framed of the VISA/MasterCard/Maestro/American Express or any other card organization applicable and prevailing from time to time.</li>
					<li>The above payment of Rs. 30,000/- (Rupees Thirty Thousand Only) shall be applicable only for a single unit. </li>
					<li>The Applicant shall be entitled to make Applications for booking of single unit only per transaction. However, same applicant can do multiple booking under same Applicant name. . . .  , Separate payments shall be made along with the Applications for booking of each unit. </li>
					<li>The said payment is subject to the risks involved in any Electronic Payment Transactions including due to any technical failure in the payment gateway operations and the Company shall not be liable/responsible for any failure of any payment transactions or for any amounts debited from the Applicant account but not credited to the account of the Company due to any technical error in settlement or otherwise and the Applicant shall not have any claims against the Company for such transactions. Wherever possible, the Company will inform the Applicant about such failed transaction and refund, if any, due to the Applicant shall be processed via payment gateway.</li>
					<li>The said payment is merely towards expressing an interest in a particular unit and by virtue of said payment no right, title, interest or claim of any nature is created in such unit. The allotment, if any, shall be done subject to the Applicant making payment of consideration value and other charges in accordance with the Application Form and complying with the terms and conditions contained therein. The Application Form can be viewed on www.______.</li>
					<li>Subsequently, the applicant shall make the initial payment of __ % of the total sale consideration amount of the Unit within a period of 07 working days from the date of booking. The Applicant/s agree that in accordance to the Income Tax Act 194IA the Applicant shall remit 1% TDS of the total consideration (exclusive of taxes) at source made or to be made in  favour of the Company and all the instalments to be paid by the Applicant/s under the Agreement for Sale.  The Company shall not be held responsible for any non-payment/delay in remittance of TDS by the Applicant/s.</li>
					<li>Upon said payment being credited to the account of the Company, an e-receipt number will be generated and emailed to the Applicant, which shall be mandatorily required for processing the application of the Applicant. The applicants are required to print or save the receipt for his transaction/records and submit the same to the Company as and when requested to do so.</li>
					<li>In the event of the Applicant fails to make the initial payment of 10 % of the total sale consideration amount of the Unit within a period of 07 working days, then in such an event the booking made in favour of the Applicant shall be cancelled. </li>
					<li>The payment made by the Applicant shall be refunded to the Applicant, subject to deduction of Rs. 5,000/- (Rupees Five Thousand Only) within a period of-- 45 working days from the date of request made by the Applicant for refund of the Booking amount or from the date of default committed by the Applicant in making the payment as mentioned in Clause 11 above. </li>
					<li>This Booking Application of the Unit is not transferable to any other third party, but transfer to family members (father/mother/wife/husband/son/daughter, brother, sister, father in law, mother in law, daughter in law, son in law, grand father and grand mother grandson and grand daughter) would be allowed with prior approval of the Promoter.  Post execution of Agreement for Sale, transfer to any third party would be allowed only upon obtaining prior approval from the Company and payment of transfer fees plus applicable taxes as per the terms of the Agreement for Sale.</li>
					<li>The Applicant/s understand that the Booking Amount is an interest free refundable earnest amount paid to the Company and constitutes an expression of interest of the Applicant/s in purchasing an Unit in the project “Embassy Springs” and in no manner to be considered as an assurances having been given by the Company for the sale of the Unit.</li>
					<li>The consideration value and the other charges are payable as per the Payment Schedule mentioned in the Application Form.</li>
					<li>The Developer reserves the right to change the pricing offered to other customers at their sold discretion without prior notice.  The Applicant/s will not question the sale price of any other applicant/s nor will the Applicant/s be entitled to compare the same with other applicant’s. </li>
					<li>In case it is learnt that the Applicant has misrepresented any fact or information such applications will be summarily terminated and said payment shall stand forfeited.</li>
					<li>The Applicant/s is/are also fully aware that the development of the layout is being done phase wise.   </li>
					<li>The total consideration is exclusive of stamp duty, cess  and registration expenses etc.,</li>
					<li>Increase in existing tax levies and fresh government levies, applicable during the contract period shall be met by the Applicant/s.  </li>
					<li>The Applicant/s further agree that only after the Applicant/s executing Agreement for Sale and agreeing to abide by the terms and conditions laid down therein there would be a concluded contract.</li>
					<li>The Courts in Bangalore, Karnataka shall have the exclusive jurisdiction pertaining to this  Expression of Interest. </li>
				</ul>
			</div>
		</li>
		<li>
			<span class="small">PRIVACY POLICY</span>
			<div class="mediaCentercontent">
				<ul>
					<li>The information which is provided by the Applicant herein may be used by the Company and its affiliates:-
						<ul>
							<li>to send important notices/communications regarding the status of their Expression of Interest Form etc. and the relevant policies, terms, conditions, etc.;</li>
							<li>to keep the Applicant posted on their project launches, announcements, project updates and upcoming events and to improve their services, content, advertising..</li>
							<li>for internal purposes such as auditing, data analysis, and research to improve its products, services and customer communications.</li>
						</ul>
					</li>
					<li>The Company shall take reasonable security practices to protect the privacy of the information provided by the Applicant. Except as mentioned herein, the Company shall not disclose such information to any third party. However nothing contained hereinabove shall apply to any disclosure of confidential Information if:-
						<ul>
							<li>such disclosure is required by law or requested by any statutory or regulatory or judicial/quasi-judicial authority or recognized self-regulating organization or other recognized investment exchange having jurisdiction over the Parties; or</li>
							<li>such disclosure is required in connection with any litigation; or</li>
							<li>such information has otherwise entered the public domain.</li>
						</ul>
					</li>
					
					<li>The terms and conditions contained herein and in the Application Form shall be construed in accordance with the laws of India and any disputes/issues arising out of this transaction will be subject to the exclusive jurisdiction of Courts at Bengaluru.</li>
				</ul>
			</div>
		</li>
		<li>
			<span class="small">DECLARATION</span>
			<div class="mediaCentercontent">
				<p>
					I/We hereby declare that the above particulars given by me/us are true and correct and no material fact has been concealed there from. I/We have gone through the terms and conditions written in this application. I/We declare that in case of non-allotment of the Unit upon receipt of Booking amount after deduction of charges as mentioned herein above, I/We shall have no claim against the Promoter. I /We are fully aware that this is only a Non-binding Booking by us to propose to acquire the Unit and not a concluded contract. 
				</p>
				<p>
					I/We undertake to inform the Company of any change in my/our address or in my other particular/information, given above, till the booked property is registered in my/our name(s) failing which the particulars shall be deemed to be correct and the letter sent at the recorded addresses by the Company shall be deemed to have received by me/us.  In case, any information furnished is found to be incorrect, false or concealed, Expression of Interest is liable to be rejected.
				</p>
				<p>
					I/We do hereby solemnly accept and agree to abide by the terms and conditions as stipulated in the Application with respect to pricing, unit and payment schedule which shall be annexed to Agreement for Sale.
				</p>
			</div>
		</li>
	</ul>
	</div>
	</div>

</section>