<style type="text/css">
	body{
		background-color: #fff;
	}
</style>
<section class="mleft70">
	<div class="container">
		<div class="col-12 text-center">	
		<p class="subtitle medium">PAYMENT BREAKUP & UP</p>
	</div>
	<div class="clearfix"></div>
	<div class="col-12">
		<div class="pull-left text-center">
			<img src="<%= asset_path "embassy_springs_logo.png"%>" class="img-responsive">
		</div>
		<div class="payment-details pull-left">
			<p class="subtitle">Project Name</p>
			<p class="subtitle">Location</p>
			<p class="subtitle">Configuration</p>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>
	<div class="col-12 text-left">
		<p class="subtitle small">APARTMENT TYPE AND COSTING</p>
	</div>
	<div class="clearfix"></div>
	<div class="col-12">
		<table width="100%" cellspacing="0" cellpadding="5" class="payment-breakup" border="0" outline="1">
			<tr>
				<th>
					Sr.no.
				</th>
				<th>
					Type of Apartment
				</th>
				<th>
					2BHK Compact
				</th>
			</tr>
			<tr>
				<td class="center">
					01
				</td>
				<td>
					Apartment Cost (Inclusive of right to use of 1 covered parking) - A
				</td>
				<td>
					Rs. 34,15,200
				</td>
			</tr>
			<tr>
				<td class="center">
					02
				</td>
				<td>
					Club House Development Charges - B
				</td>
				<td>
					Rs. 1,50,000
				</td>
			</tr>
			<tr>
				<td class="center">
					03
				</td>
				<td>
					Floor Rise (If Any) - C - Ground Floor
				</td>
				<td>
					At actuals
				</td>
			</tr>
			<tr>
				<td class="center">
					04
				</td>
				<td>
					Total Cost without Taxes
				</td>
				<td>
					Rs. 35,65,200
				</td>
			</tr>
			<tr>
				<td class="center">
					05
				</td>
				<td>
					Exclusive Balcony Area
				</td>
				<td>
					54 sq.ft.
				</td>
			</tr>
			<tr>
				<td class="center">
					06
				</td>
				<td>
					RERA Carpet Area(sq.ft)
				</td>
				<td>
					460 sq.ft.
				</td>
			</tr>
			<tr>
				<td class="grey">
					&nbsp;
				</td>
				<td class="grey">
					Total Cost
				</td>
				<td class="grey">
					Rs. 35,65,200
				</td>
			</tr>
		</table>
	</div>
	<div class="col-12 text-left">
		<p class="subtitle small">PAYMENT PLAN</p>
	</div>
	<div class="clearfix"></div>
	<div class="col-12">
		<table width="100%" cellspacing="0" cellpadding="5" class="payment-breakup" border="0" outline="1">
			<tr>
				<th>
					Sr.no.
				</th>
				<th>
					Installment Details
				</th>
				<th>
					Payment %
				</th>
				<th>
					Installment Amount
				</th>
			</tr>
			<tr>
				<td class="center">
					01
				</td>
				<td>
					Token Amount 
				</td>
				<td>
					-
				</td>
				<td>
					Rs. 30,000
				</td>
			</tr>
			<tr>
				<td class="center">
					02
				</td>
				<td>
					On application (Within 7 days) from Date of Booking
				</td>
				<td>
					-
				</td>
				<td>
					Rs. 2,70,000
				</td>
			</tr>
			<tr>
				<td class="center">
					03
				</td>
				<td>
					Within 30 Days from the Date of Booking
				</td>
				<td>
					10% Less(Token Amount + Application Money)
				</td>
				<td>
					Rs. 56,250
				</td>
			</tr>
			<tr>
				<td class="center">
					04
				</td>
				<td>
					Within 90 Days from the Date of Booking
				</td>
				<td>
					85%
				</td>
				<td>
					Rs. 30,30,420
				</td>
			</tr>
			<tr>
				<td class="center">
					05
				</td>
				<td>
					On Initimation of Possession
				</td>
				<td>
					5%
				</td>
				<td>
					Rs. 1,78,260
				</td>
			</tr>
			<tr>
				<td class="dark-grey">
					&nbsp;
				</td>
				<td class="dark-grey">
					Total Cost
				</td>
				<td class="dark-grey">
					100%
				</td>
				<td class="dark-grey">
					Rs. 35,65,200
				</td>
			</tr>
		</table>
	</div>
	</div>
</section>