<section class="cp-payout-page">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1 class="sec-title-cp">Earnings</h1>
      </div>
      <div class="col-6 text-end">
        <a href="javascript:;" class="me-2">
          <i class="fas fa-search white"></i>
        </a>
        <a href="javascript:;">
          <i class="fas fa-filter white"></i>
        </a>
      </div>
      <div class="col-12">
        <ul class="cp-menu-list">
          <li>
            <a href="javascript:;" class="active">All</a>
          </li>
          <li>
            <a href="javascript:;">Site Visits</a>
          </li>
          <li>
            <a href="javascript:;">Spot Bookings</a>
          </li>
          <li>
            <a href="javascript:;">Brokerages</a>
          </li>
          <li>
            <a href="javascript:;">Others</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12"><hr class="my-1 hr-color"></div>
  <div class="contianer">
    <div class="row px-3">
      <div class="col-12">
        <h2 class="total-earn-txt">TOTAL EARNINGS</h2>
        <h3 class="total-earn-amount mb-4">₹5,00,000</h3>
      </div>
      <div class="col-6 pe-1">
        <div class="earn-desc">
          <label>INVOICED</label>
          <p>₹2,50,000</p>
          <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#invoiced-modal"><i class="fas fa-info-circle text-yellow"></i></a>       
        </div>
      </div>
      <div class="col-6 ps-1">
        <div class="earn-desc">
          <label>PAID</label>
          <p>₹2,50,000</p>
          <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#paid-modal"><i class="fas fa-info-circle text-yellow"></i></a>       
        </div>
      </div>
    </div>
  </div>
</section>
<section class="earning-potential">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <h2 class="ep-title">Earning Potential</h2>
      </div>

      <div class="col-12">
        <ul class="earning-potential-list mt-3">
          <li>
            <div class="earn-desc pending-approval bg-white">
              <label>WAITING APPROVAL</label>
              <p>₹20,000</p>
              <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#waiting-modal"><i class="fas fa-info-circle text-yellow"></i></a>       
            </div>
          </li>
          <li>
            <div class="earn-desc approved bg-success">
              <label>APPROVED</label>
              <p>₹20,000</p>
              <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#approved-modal"><i class="fas fa-info-circle text-yellow"></i></a>       
            </div>
          </li>
          <li>
            <div class="earn-desc waiting-approval bg-danger">
              <label>LOST</label>
              <p>₹20,000</p>
              <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#lost-modal"><i class="fas fa-info-circle text-yellow"></i></a>       
            </div>
          </li>
        </ul>
      </div>

      <div class="col-12"><hr></div>

      <div class="col-12">
        <h2 class="ep-title float-start col-6">Transactions</h2>
        <a href="javascript:;" class="text-end float-end col-6">View All</a>
      </div>
      
      <div class="col-12">
        <div class="cp-ep-info-box">
          <div class="row">
            <div class="col-7 cp-name-info">
              <span>SM</span>
              <p>Sanjay Mehra</p>
            </div>
            <div class="col-5 cp-payout-info text-end">
              <p>₹20,000</p>
              <span>Spot Booking</span>
            </div>
            <div class="col-12"><hr></div>
            <div class="col-6 cp-info-list">
              <div class="building-icon">
                <i class="fa fa-solid fa-building"></i>
              </div>
              <span>Project:</span>
              <p>Sukhwani Kingsley</p>
            </div>
            <div class="col-6 cp-info-list">
              <div class="building-icon">
                <i class="fa fa-solid fa-building"></i>
              </div>
              <span>Invoiced On:</span>
              <p>20 Apr 2022</p>
            </div>
            <div class="col-6 cp-info-list">
              <div class="building-icon">
                <i class="fa fa-solid fa-building"></i>
              </div>
              <span>Unit:</span>
              <p class="mb-0">A-103</p>
            </div>
            <div class="col-6 cp-info-list">
              <div class="building-icon">
                <i class="fa fa-solid fa-check"></i>
              </div>
              <span>Status:</span>
              <p class="mb-0">Waiting Approval</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="cp-ep-info-box">
          <div class="row">
            <div class="col-7 cp-name-info">
              <span>SM</span>
              <p>Sanjay Mehra</p>
            </div>
            <div class="col-5 cp-payout-info text-end">
              <p>₹20,000</p>
              <span>Spot Booking</span>
            </div>
            <div class="col-12"><hr></div>
            <div class="col-6 cp-info-list">
              <div class="building-icon">
                <i class="fa fa-solid fa-building"></i>
              </div>
              <span>Project:</span>
              <p>Sukhwani Kingsley</p>
            </div>
            <div class="col-6 cp-info-list">
              <div class="building-icon">
                <i class="fa fa-solid fa-building"></i>
              </div>
              <span>Invoiced On:</span>
              <p>20 Apr 2022</p>
            </div>
            <div class="col-6 cp-info-list">
              <div class="building-icon">
                <i class="fa fa-solid fa-building"></i>
              </div>
              <span>Unit:</span>
              <p class="mb-0">A-103</p>
            </div>
            <div class="col-6 cp-info-list">
              <div class="building-icon">
                <i class="fa fa-solid fa-check"></i>
              </div>
              <span>Status:</span>
              <p class="mb-0">Waiting Approval</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="cp-ep-info-box">
          <div class="row">
            <div class="col-7 cp-name-info">
              <span>SM</span>
              <p>Sanjay Mehra</p>
            </div>
            <div class="col-5 cp-payout-info text-end">
              <p>₹20,000</p>
              <span>Spot Booking</span>
            </div>
            <div class="col-12"><hr></div>
            <div class="col-6 cp-info-list">
              <div class="building-icon">
                <i class="fa fa-solid fa-building"></i>
              </div>
              <span>Project:</span>
              <p>Sukhwani Kingsley</p>
            </div>
            <div class="col-6 cp-info-list">
              <div class="building-icon">
                <i class="fa fa-solid fa-building"></i>
              </div>
              <span>Invoiced On:</span>
              <p>20 Apr 2022</p>
            </div>
            <div class="col-6 cp-info-list">
              <div class="building-icon">
                <i class="fa fa-solid fa-building"></i>
              </div>
              <span>Unit:</span>
              <p class="mb-0">A-103</p>
            </div>
            <div class="col-6 cp-info-list">
              <div class="building-icon">
                <i class="fa fa-solid fa-check"></i>
              </div>
              <span>Status:</span>
              <p class="mb-0">Waiting Approval</p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade small-modal" id="invoiced-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header p-3">
        <h5 class="modal-title" id="">Invoiced</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy. text ever since the 1500s, when an unknown printer took a galley.</p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade small-modal" id="paid-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header p-3">
        <h5 class="modal-title" id="">Paid</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy. text ever since the 1500s, when an unknown printer took a galley.</p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade small-modal" id="waiting-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header p-3">
        <h5 class="modal-title" id="">Waiting Approval</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy. text ever since the 1500s, when an unknown printer took a galley.</p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade small-modal" id="approved-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header p-3">
        <h5 class="modal-title" id="">Approved</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy. text ever since the 1500s, when an unknown printer took a galley.</p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade small-modal" id="lost-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header p-3">
        <h5 class="modal-title" id="">Loss</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy. text ever since the 1500s, when an unknown printer took a galley.</p>
      </div>
    </div>
  </div>
</div>




<section class="invoice-page">
  <div class="container">
    <div class="col-12">
      <h1 class="page-title">Invoice Details</h1>
    </div>
    <div class="col-12">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#bookingDetailAccordion" aria-expanded="true" aria-controls="bookingDetailAccordion">
              Booking Details
            </button>
          </h2>
          <div id="bookingDetailAccordion" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="inner-invoice-details">
                <label>Project</label>
                <p>Sukhwani Kingsley</p>
                <label>Booking Details</label>
                <p>T1-1203</p>
                <label>Customer Name</label>
                <p>Rohit Sharma</p>
                <label>Customer Phone</label>
                <p>98765 43210</p>
                <label>Customer Email</label>
                <p>rohit.s@gamil.com</p>
                <label>Status</label>
                <p>Paid</p>
                <label>Raised Date</label>
                <p>03/12/2021 20:15</p>
                <label>Processing Date</label>
                <p>21/04/2022 13:38</p>
                <label>Approved Date</label>
                <p>21/04/2022 13:38</p>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#cpDetailsAccordion" aria-expanded="false" aria-controls="cpDetailsAccordion">
              Channel Partner Details
            </button>
          </h2>
          <div id="cpDetailsAccordion" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <label>Registration Name (Used in payments)</label>
                <p>Beyondwalls</p>
                <label>GST Number</label>
                <p>1234567890</p>
                <label>Address</label>
                <p>Sr. No. 9, H.No:1/2, 4th Floor, Above Maruti Suzuki Suman Kirti Cars Pvt. Ltd Near Ramada Plaza, Mahalunge, Pune, Maharashtra 411045</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#paymentDetailsAccourdion" aria-expanded="false" aria-controls="paymentDetailsAccourdion">
              Payment Details
            </button>
          </h2>
          <div id="paymentDetailsAccourdion" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <label>Total Amount Paid</label>
                <p>₹5,900</p>
                <label>Issuing Bank</label>
                <p>HDFC</p>
                <label>Issuing Bank Branch</label>
                <p>Baner</p>
                <label>Issued Date</label>
                <p>13/04/2022</p>
                <label>Handover Date</label>
                <p>21/04/2022</p>
                <label>Payment Identifier</label>
                <p>Online</p>
                <label>Approved Date</label>
                <p>21/04/2022 13:38</p>
                <label>Payout Id</label>
                <p>pout_JLDvw0nwvXcKHg</p>
                <label>UPI Id</label>
                <p>9970300847@ybl</p>
                <label>Paid Date</label>
                <p>21/04/2022 13:38</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#amountAccordion" aria-expanded="false" aria-controls="amountAccordion">
              Amount
            </button>
          </h2>
          <div id="amountAccordion" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <label>Brokerage Amount</label>
                <p>₹5,000</p>
                <label>GST Amount</label>
                <p>₹900</p>
                <label>OST Slab</label>
                <p>18.0%</p>
                <label>Approved Amount</label>
                <p>₹5,900</p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#docsAccordion" aria-expanded="false" aria-controls="docsAccordion">
              Documents
            </button>
          </h2>
          <div id="docsAccordion" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <label>Cheque</label>
                <p>Cheque Copy.jpg</p>
                <label>Invoice</label>
                <p>Invoice Copy.jpg</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>