<link href="https://fonts.googleapis.com/css?family=Poppins:400,600" rel="stylesheet">
<!-- <script type="text/javascript">
	function printReceipt(){
		window.print();
	}
</script> -->
<style type="text/css">
	body{
		font-family: 'Poppins', sans-serif;
	}
	.dashboard-menu{
		display: none;
	}
	.notification-header{
		display: none;
	}
	.mleft70{
		padding: 20px;
		padding-left: 20px;
		margin-top: 0px;
	}
	.clearfix{
		clear: both
	}
	.col-12{
		width: 100%;
	}
	.col-6 {
		width: 50%;
	}
	.pull-left{
		float: left;
	}
	.pull-right{
		float: right;
	}
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-12-5, .w30, .w70 {
		float: left;
	}
	.col-4 {
		width: 33.33333333333333%;
	}
	.img-responsive{
		max-width: 100%
	}
	.tower-info-wrapper.grey .col-6 {
		padding-right: 20px;
		padding-bottom: 20px;
	}
	.tower-specs {
		padding: 30px 0px 20px 10px;
	}
	.tower-info-wrapper.grey {
		background-color: #f2f2f2;
	}
	.tower-info-wrapper {
		padding: 20px 0px 20px 20px;
	}
	.payment-details-wrapper {
		padding: 20px 20px 0px 20px;
	}
	.receipt-table-wrapper {
		padding: 30px 30px 0px 30px;
	}
	.receipt-table {
		margin-bottom: 30px;
		font-size: 12px;
	}
	.receipt-table th:first-child, .receipt-table td:first-child {
		border-left: 1px solid #ccc;
	}
	.receipt-table th {
		background-color: #f2f2f2;
		border-right: 1px solid #ccc;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		font-weight: normal;
	}
	.receipt-table th:first-child, .receipt-table td:first-child {
		border-left: 1px solid #ccc;
	}
	.tower-info-wrapper.pink {
		background: #f3f3f2;
	}
	.receipt-table th {
		background-color: #f2f2f2;
		border-right: 1px solid #ccc;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		font-weight: normal;
	}
	.receipt-table td {
		text-align: center;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}
	.receipt-wrapper {
		color: #74645c;
		font-size: 16px;
		width: 100%;
		margin: 20px 0px;
		background-color: #fff;
		border: 1px solid #c7c7c7;
		margin-bottom: 20px;
	}
	.acknowledge-wrapper {
		padding: 30px;
	}
	.text-right{
		text-align: right;
	}
	.tower-specs .title {
		color: #74645c;
		font-size: 16px;
		display: block;
	}
	.tower-specs .specs {
		color: #000;
		font-size: 16px;
		font-weight: 600;
	}
	.applicant-wrapper {
		padding: 20px 0px 20px 20px;
	}
	.pageTitle.big {
		font-size: 16px;
		font-weight: bold;
	}
	.pink {
		color: #6b7e34;
	}
</style>
<div class="mleft70">
	<div class="col-12">
		<div class="pull-left">
			<p class="pageTitle big pink">Receipt</p>
		</div>
		<div class="clearfix"></div>
	</div>
	<%= render '/receipts/show', receipt: @receipt %>
</div>
