<style type="text/css">
	.payment-breakup.mediaCenterAccordion>li{
		border-bottom: 1px solid #c4c4c3;
		padding: 0px 0px;
	}
	.payment-breakup.mediaCenterAccordion li>span{
		background-color: #d3d3d3;
		padding: 15px 15px;
		border-radius: 0px;
		margin: 0px;
		background-position: 98.5% 15px;
	}
	.payment-breakup.mediaCenterAccordion li > span.active{
		background-position: 98.5% 15px;
	}
	.payment-breakup.mediaCenterAccordion li>span.active, .payment-breakup.mediaCenterAccordion li>span:hover{
		background-color: #d3d3d3;
		padding: 15px 15px;
	}
	.mediaCenterAccordion>li>div{
		background-color: #fff;
		padding:20px;
	}
	.mediaCenterAccordion>li>div a{
		color: #6b7e34;
		text-decoration: underline;
	}
	.mediaCentercontent ul{
		padding-left: 20px;
	}
	strong.black{
		font-weight: 500;
		color: #252525;
	}
	.title{
		display: inline-block;
	    font-size: 20px;
	    margin-right: 10px;
	}
</style>
<section class="main-wrapper">
	<div class="container-fluid">
		<div class="col-12 mediaCentercontent white-bg steps-wrapper">
    	    <span class="title">RERA Registration Certificate</span> <a href="<%= asset_path 'RERACertificate-pring2ndPhase.pdf' %>" target="_blank" class="small-link">View PDF</a>
        </div>
    </div>
</section>
