<section class="mleft70">
	<p class="pageTitle big pink">
		BOOKINGS
	</p>
	<div class="booking-detail-wrapper">
		<div class="applicant-wrapper pull-left text-left">
			<div class="applicant">Applicant: <span>Mr. John Doe</span></div>
			<div class="applicant">Co-Applicant: <span>Mrs. John Doe</span></div>
		</div>
		<div class="pull-right text-right payment-details-wrapper">
			Booking Status: Booked
		</div>
		<div class="clearfix"></div>
		<hr />
		<div class="tower-info-wrapper">
			<div class="pull-left">
				<img src="<%= asset_path "wing-icon.png" %>" class="img-responsive">
			</div>
			<div class="pull-left tower-info">
				<span>Tower Name: Gardenia - A</span>
				<span>Unit No: 101 | Floor: 1st Floor</span>
			</div>
			<div class="clearfix"></div>
			<div class="tower-specs">
				<div class="col-4">
					<span class="title">Unit View:</span>
					<span class="specs">East Outward Facing</span>
				</div>
				<div class="col-4">
					<span class="title">Unit Type:</span>
					<span class="specs">3BHK - 2T - A</span>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="tower-info-wrapper">
        <div class="tower-info" style="margin-left:0px;background:#eee; padding:10px">
          <span>Payment Details</span>
          <!-- <span>Unit No: 101 | Floor: 1st Floor</span> -->
        </div>
        <div class="clearfix"></div>
        <div class="tower-specs">
          <div class="col-3">
            <span class="title">Agreement Value:</span>
            <span class="specs">Rs. 119 Cr +</span>
          </div>
          <div class="col-3">
            <span class="title">Booking Amount:</span>
            <span class="specs">Rs. 0</span>
          </div>
          <div class="col-3">
            <span class="title">Advance Payment: </span>
            <span class="specs">Rs. 50,000</span>
          </div>
          <div class="col-3">
            <span class="title">Balance Payment:</span>
            <span class="specs">Rs. 0</span>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="tower-specs">	
        	<div class="form-field-wrapper">
				<label>Cheque Number</label>
				<input type="text" class="form-field" />
			</div>
			<div class="form-field-wrapper">
				<label>Name of Bank</label>
				<input type="text" class="form-field" />
			</div>
			<div class="form-field-wrapper">
				<label>Booking Amount</label>
				<input type="text" class="form-field" />
			</div>
			<div class="form-field-wrapper">
				<label>Photo of Cheque</label>
				<input type="file" id="upload-image"  accept="image/x-png,image/gif,image/jpeg" />
			</div>
          <div class="clearfix"></div>
        </div>
      </div>
	</div>
</section>