<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h4 class="mb-3">TDS Process</h4>
          <% if current_client.tds_process.present? %>
            <%= current_client.tds_process.html_safe %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
