<table cellpadding="0" cellspacing="0" width="100%">
  <tr>
      <td style=" color: #000;font-size: 32px;font-weight: 600;line-height: 35px;vertical-align: bottom;">
          <%= @project_unit.name %> is Blocked
       </td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <tr>
    <td>Dear <%= @user.name %>, </td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <tr>
    <td style="line-height:26px;">
      <p><span>Congratulations! </span></p>
      <p><span>Your first step towards living the coveted Embassy life has been successful.</span></p>
      <p><span>You have 7 days to pay the balance amount of <%= number_to_indian_currency(@project_unit.user.total_balance_pending.round()) %> . You can use the Embassy Booking Portal to make the remaining payment. The unit will be released after 7 days if your balance payment is not received and the </span></p>
      <p><span>invested amount will be refunded* to you. For more information please visit <a href="javascript:;">www.embassyedge.com</a></span></p>
    </td>
  </tr>
</table>
