<table cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style=" color: #000;font-size: 32px;font-weight: 600;line-height: 35px;vertical-align: bottom;">
      Apartment released because of payment not received 
    </td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <tr>
    <td>Dear <%= @user.name %>,</td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <tr>
    <td style="line-height:26px;">Your Embassy Home <%= @project_unit.name %>  has been released due to non-payment of dues within stipulated timeframe. Please visit <%= Rails.application.config.action_mailer.host %>  to book your home again. 
    </td>
  </tr>
</table>
		

        