<div class="card w-100">
  <div class="card-body">
    <p>Dear <%= @user.name %>,</p>
    Your Unit - <%= @project_unit.name %> has been released.<br/><br/>
    In case you need any assistance, please get in touch with our support team.
  </div>
</div>
<div class="mt-3"></div>
<%= render "project_unit_mailer/project_unit", project_unit: @project_unit %>
