<div class="mt-5 pt-5"></div>
<section class="cp-login-otp-sec col-lg-4 mg-auto" id="otp_user_section">
  <div class="cp-login-otp-wrap">
    <h2 class="px-4 pt-3 pb-3">Please set your Kylas API key</h2>
    <%= simple_form_for(@client, url: admin_client_path(render_kylas_api_key: true), method: :put, html: { novalidate: false, class: "validate-form", id: 'edit_client_api_key_form', data: { type: :json }, autocomplete: 'off' }) do |f| %>
      <div class="cp-signup-form-wrap px-4 cp-form-wrap">
        <div class="mb-3">
          <%= f.input :kylas_api_key, required: true, input_html: {autofocus: true, autocomplete: false, class: 'form-control'} %>
        </div>
      </div>
      <div class="signin-footer text-center">
        <%= f.submit 'Save', class: "btn cp-btn sign-in-btn" %>
      </div>
    <% end %>
  </div>
</section>
