<% if notable.present? && notable.persisted? %>
  <div class="notes-container">
    <% notable.notes.each do |note| %> <!-- Paginate here -->
      <%= render 'notes/show', note: note %>
    <% end %>
  </div>
<% end %>
