<div class="row">
  <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 p-0 bg-white collapse" id="collapseNotes">
    <%= render '/notes/index', notable: notable %>
  </div>
</div>
<%= javascript_tag do %>
  $(document).ready(function(){
    var count = <%= raw notable.notes.count %>
    if(count != 0){
    $('#collapseNotes').collapse('show')
    }
  });
<% end %>