<section class="mb-5 mt-3">
  <div class="px-4">
    <div class="row">

    <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
        <div class="table-btn-set float-end pb-3 text-end">
          <% if policy([current_user_role_group, Meeting.new]).new? %>
                <%= link_to "Add #{global_labels['meeting']}", new_admin_meeting_path, class: 'border rounded px-3 py-2 px-3 border-primary white bg-primary rounded py-2 ms-2 modal-remote-form-link btn', data:{event_category: 'Section', event_action: 'Click', event_name: 'Add Event'} %>
              <% end %>
        </div>
      </div>
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
        <div class="box-card relative">
          <%= render 'meetings/index', {meetings: @meetings} %>
        </div>
      </div>
    </div>
  </div>
</section>