<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <%#= render 'breadcrumbs', {meeting: @meeting} %>
      <div class="card">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-7">
              <% if policy([current_user_role_group, Meeting.new]).new? %>
                <%= link_to "Add #{global_labels['meeting']}", new_admin_meeting_path, class: 'btn btn-primary modal-remote-form-link', data:{event_category: 'Section', event_action: 'Click', event_name: 'Add Event'} %>
              <% end %>
            </div>
            <div class="col-md-5 text-md-end">
              <h6 class="mt-2">Total <%= global_labels[:meetings] %>: <%= @meetings.total_entries %></h6>
            </div>
          </div>
          <%= render 'meetings/index', {meetings: @meetings} %>
        </div>
      </div>
    </div>
  </div>
</div>
