<section class="mb-5 mt-3">
  <div class="px-4">
    <div class="row">
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
        <div class="table-btn-set float-end pb-2 text-end">
          <% if (Admin::BulkUploadReportPolicy.new(current_user, BulkUploadReport.new)).bulk_upload? %>
            <%= link_to "New Bulk Upload", admin_bulk_upload_reports_path('remote-state': new_admin_bulk_upload_report_path), class: 'border rounded px-3 py-2 primary border-primary' %>
          <% end %>
        </div>
      </div>
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
        <div class="box-card relative">
          <%= render 'index', {bulk_upload_reports: @bulk_upload_reports} %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="d-md-none mt-3"></div>
    </div>
  </div>
</section>
