<section class="mb-5 mt-3">
  <div class="px-4">
    <div class="row">
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
        <div class="table-btn-set float-end pb-2 text-end">
          <% if (Admin::BulkUploadReportPolicy.new(current_user, BulkUploadReport.new)).bulk_upload? %>
            <%= link_to I18n.t("controller.bulk_upload_reports.links.upload"), new_admin_bulk_upload_report_path, class: 'border rounded px-3 py-2 px-3 border-primary white bg-primary rounded py-2 ms-2 modal-remote-form-link btn' %>
          <% end %>
        </div>
      </div>
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
        <div class="box-card relative">
          <%= render 'index', {bulk_upload_reports: @bulk_upload_reports} %>
        </div>
      </div>
    </div>
  </div>
</section>
