<% if policy(@user_request).editable_field?("alternate_project_unit_id") %>
  <div class="form-group">
    <%= f.label :alternate_project_unit_id, class: 'label-required' %>
    <%= f.select :alternate_project_unit_id, ProjectUnit.where(status: "available").collect{|x| [x.name, x.id] }, {prompt: true}, class: 'selectize', disabled: (policy(@user_request).editable_field?("alternate_project_unit_id") ? false : true), required: "required" %>
  </div>
<% else %>
  <div class="form-group">
    <%= f.label :alternate_project_unit_id, class: 'label-required' %>
    <div><%= @user_request.project_unit.name %></div>
  </div>
<% end %>
