<%= render 'breadcrumbs', {user_request: @user_request, user: @user} %>
<div class="row">
  <div class="col-md-10 border border-left-0 border-top-0 border-bottom-0">
    <%= render 'index', {user_requests: @user_requests} %>
    <% if UserRequestPolicy.new(current_user, UserRequest.new(user: @user)).new? %>
      <%= link_to "Add #{global_labels['user_request']}", new_user_user_request_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="col-md-2">
    <%= render "filters" %>
  </div>
</div>
