<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <%= render 'admin/user_requests/detail', user_request: @user_request %>
      <div class="mt-3"></div>
      <%= render 'dashboard/booking_detail_overview', {booking_detail: @user_request.booking_detail, with_actions: true } if @user_request.booking_detail %>
      </div>
    </div>
  </div>
</div>
