<%= content_for :breadcrumbs do %>
  <% unless current_user.buyer? %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%= home_path(current_user) %>">Dashboard</a></li>
      <% if account.present? %>
        <%#  if policy([:admin, Account]).index? %>
          <li class="breadcrumb-item"><a href="<%= admin_schemes_path %>">Accounts</a></li>
        <%#  end %>
      <% end %>
    </ol>
  </nav>
  <% end %>
<% end %>
