<div class="card w-100">
  <div class="card-body">
    <p>Dear Team,</p>
    <p>
      Channel Partner has been changed on customer <strong><%= @user.name %></strong>. New assigned channel partner is <strong><%= @user.manager_name %></strong>
    </p>
    <% if @user.manager_change_reason.present? %>
      <br/>
      <p>
        <div class="small"><%= t('mongoid.attributes.user.manager_change_reason') %></div>
        <%= @user.manager_change_reason %>
      </p>
    <% end %>
  </div>
</div>
