<div class="card w-100">
  <div class="card-body">
    <p><%= I18n.t('mongoid.attributes.user.change_in_manager.dear_team') %>,</p>
    <p>
      <%= I18n.t('mongoid.attributes.user.change_in_manager.text', name1: @user.name, name2: @user.manager_name) %>
    </p>
    <% if @user.manager_change_reason.present? %>
      <br/>
      <p>
        <div class="small"><%= t('mongoid.attributes.user.manager_change_reason') %></div>
        <%= @user.manager_change_reason %>
      </p>
    <% end %>
  </div>
</div>
