<div class="card w-100">
  <div class="card-body">
    <p><%= I18n.t('mongoid.attributes.user.dear_user') %>,</p>
    <p>
      <%= I18n.t("mongoid.attributes.user.reminder.pay", name: number_to_indian_currency(@project_unit.booking_detail.pending_balance(strict: true))) %>
    </p>
  </div>
</div>
