<div class="card">
  <div class="card-header">
    <%= ChannelPartner.model_name.human %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr class="bg-primary white">
            <th>Status</th>
            <th class="text-right">Count</th>
          </tr>
        </thead>
        <tbody>
          <% DashboardDataProvider.channel_partners_dashboard(current_user, params[:channel_partner_fltrs]).each do |d| %>
          <tr>
            <td><%= t("mongoid.attributes.channel_partner/status.#{d[:status]}") %></td>
            <td class="text-right"><%= d[:count] %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
