<div class = 'col-12'>
  <div class="mb-3">
    <%= f.label :response_crm_id_location %>
    <%= f.text_field :response_crm_id_location, autofocus: true, class: "form-control", disabled: !policy([:admin, @api]).editable_field?("response_crm_id_location") %>
  </div>
</div>