<% if search.crossed_step('filter') %>
  <div class="col-lg-3 col-xs-12 col-sm-12 col-md-6">
    <div class="active step-result">
      <i class="icon icon-3"></i>
      <span>Choose Apartment</span>
      <p>Choose apartment that suit your  requirements</p>
    </div>
  </div>
<% else %>
  <div class="col-lg-3 col-xs-12 col-sm-12 col-md-6">
    <div class="step-result">
      <i class="icon icon-3"></i>
      <span>Choose Apartment</span>
      <p>Choose apartment that suit your  requirements</p>
    </div>
  </div>
<% end %>
