<% if search.crossed_step('filter') %>
  <div class="col-lg-3 col-xs-12 col-sm-12 col-md-6">
    <div class="active step-result">
      <i class="icon icon-3"></i>
      <span>Choose Apartment</span>
      <br/>
      <% if search.crossed_step('towers') %>
        <%= search.project_unit.name %><br/>
        <br/>
        <% if @search.previous_step.present? %>
          <%= form_for [:user, @search], html: {class: 'validate-form'} do |f| %>
            <div class="form-group">
              <%= f.hidden_field :step, value: "towers" %>
            </div>
            <div class="form-group">
              <% if !@search.user.booking_details(status: 'hold').present? %>
                <%= f.submit "Change", class: "small position-absolute step-change-btn" %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        Choose towers that suit your requirements
      <% end %>
    </div>
  </div>
<% else %>
  <div class="col-lg-3 col-xs-12 col-sm-12 col-md-6">
    <div class="step-result">
      <i class="icon icon-3"></i>
      <span>Choose Apartment</span>
      <p>Choose apartment that suit your  requirements</p>
    </div>
  </div>
<% end %>
