<section class="prjt-details-sec">
    <div class="px-3">
        <div class="row">
            <div class="col-lg-8 px-3 bg-white pt-4">
                <div class="col-12 mb-3">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h6 class="card-title d-inline fn-24 font-medium theme-txt-color me-1">Rhea Miranda</h6>
                            <a href="javascript:;" class="email-icon small d-inline-block mt-1 fn-16"
                                data-bs-toggle="popover" title="Email Id" data-bs-trigger="focus"
                                data-bs-placement="bottom" data-bs-content="abc@gmail.com">
                                <i class="fa fa-envelope fill-theme me-2 ms-2 fn-18"></i>
                            </a>
                            <a href="javascript:;" class="phone-icon small d-inline-block mt-1 fn-16"
                                data-bs-container="body" data-bs-placement="bottom" data-bs-trigger="focus"
                                data-bs-toggle="popover" title="Phone No." data-bs-content="+91 8521479630">
                                <i class="fa fa-phone-alt fill-theme me-2 fn-18"></i>
                            </a>
                        </div>
                        <div>
                            <a href="javascript:;"
                                class="border border-primary rounded primary p-2 fn-14 font-medium px-3">Edit
                                Customer</a>
                            <a href="javascript:;"
                                class="bg-primary border border-primary rounded white p-2 ms-2 fn-14 font-medium px-3">Create Booking</a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row border rounded col-12 me-0 g-0">
                        <p class="fn-14 font-medium p-2 px-3 pb-0">KYC (Primary Applicant)</p>
                        <div class="d-flex justify-content-between p-2 px-3 pb-0">
                            <p class="fn-16 font-medium">Rhea Miranda</p>
                            <div class="d-flex justify-content-end">
                                <p><i class="fa fa-check-circle fill-success me-1"></i> General Info</p>
                                <p class="mx-3"><span
                                        class="border-bottom border-2 wd-24 align-middle d-inline-block"></span></p>
                                <p><i class="fa fa-check-circle fill-secondory me-1"></i> Bank Details</p>
                                <p class="mx-3"><span
                                        class="border-bottom border-2 wd-24 align-middle d-inline-block"></span></p>
                                <p><i class="fa fa-check-circle fill-secondory me-1"></i> Documents</p>
                            </div>
                        </div>
                        <hr>
                        <div class="text-start pb-3 mb-1 pe-3 pt-1">
                            <a href="javascript:;" class="primary p-2 fn-14 font-medium px-3"><i
                                    class="fa fa-plus fill-primary me-3"></i>Add Secondary Applicant</a>
                        </div>
                        <div class="text-end pb-3 mb-1 pe-3 pt-1">
                            <a href="javascript:;"
                                class="border txt-light-blue rounded p-2 fn-14 font-medium px-3">Request
                                Requirements</a>
                            <a href="javascript:;"
                                class="border rounded  txt-light-blue p-2 ms-2 fn-14 font-medium px-3">Complete KYC</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 float-start mt-3 pb-0">
                    <div class="card">
                        <div class="card-header theme-light-bg py-3">
                            <p class="fn-12 theme-txt-color mb-0 ">Project</p>
                            <h6 class="fn-20 theme-txt-color mb-0">Oberoi Sky City</h6>
                        </div>
                        <div class="card-body p-0 rounded-0 border-0">
                            <div class="accordion theme-accordation" id="accordionExample">
                                <div
                                    class="accordion-item rounded-0 border-bottom border-top-0  border-end-0 border-start-0">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button collapsed shadow-none" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            Requirement
                                        </button>                                        
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse"
                                        aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body pt-0 ps-4">
                                            <div class="row ps-3">
                                                <div class="col-3">
                                                    <p class="fn-12 font-medium mb-0">Configuration</p>
                                                    <p class="fn-14">lorem ipsum</p>
                                                </div>
                                                <div class="col-3">
                                                    <p class="fn-12 font-medium mb-0">Property Type</p>
                                                    <p class="fn-14">lorem ipsum</p>
                                                </div>
                                                <div class="col-3">
                                                    <p class="fn-12 font-medium mb-0">Possession</p>
                                                    <p class="fn-14">lorem ipsum</p>
                                                </div>
                                                <div class="col-3">
                                                    <p class="fn-12 font-medium mb-0">Purpose</p>
                                                    <p class="fn-14">lorem ipsum</p>
                                                </div>
                                                <div class="col-3">
                                                    <p class="fn-12 font-medium mb-0">Configuration</p>
                                                    <p class="fn-14">lorem ipsum</p>
                                                </div>
                                                <div class="col-3">
                                                    <p class="fn-12 font-medium mb-0">Property Type</p>
                                                    <p class="fn-14">lorem ipsum</p>
                                                </div>
                                                <div class="col-3">
                                                    <p class="fn-12 font-medium mb-0">Possession</p>
                                                    <p class="fn-14">lorem ipsum</p>
                                                </div>
                                                <div class="col-3">
                                                    <p class="fn-12 font-medium mb-0">Purpose</p>
                                                    <p class="fn-14">lorem ipsum</p>
                                                </div>
                                                <div class="col-3">
                                                    <p class="fn-12 font-medium mb-0">Configuration</p>
                                                    <p class="fn-14">lorem ipsum</p>
                                                </div>
                                                <div class="col-3">
                                                    <p class="fn-12 font-medium mb-0">Property Type</p>
                                                    <p class="fn-14">lorem ipsum</p>
                                                </div>
                                                <div class="col-3">
                                                    <p class="fn-12 font-medium mb-0">Possession</p>
                                                    <p class="fn-14">lorem ipsum</p>
                                                </div>
                                                <div class="col-3">
                                                    <p class="fn-12 font-medium mb-0">Purpose</p>
                                                    <p class="fn-14">lorem ipsum</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item  border-end-0 border-start-0">
                                    <h2 class="accordion-header d-flex justify-content-between" id="headingTwo">
                                        <button class="accordion-button collapsed  shadow-none" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo">
                                            Booking Details
                                        </button>
                                        <a href="javascript:;" class="fn-12 font-medium theme-txt-color w-25 text-end pe-3 py-3"><i class="fa fa-plus fill-primary me-2 fn-12"></i>Booking</a>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse"
                                        aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body pt-0 ps-4">
                                            <div class="row ps-3">
                                                <div class="col-12">
                                                    <p class="fn-12 font-medium"><span class="txt-light-gray">Blocked
                                                            On:</span> Mar 20, 2020</p>
                                                    <h3 class="fn-16 font-medium txt-drk-b-lt">Oberoi Sky City, Tower C,
                                                        Flat no. 2006,
                                                        15th Floor</h3>
                                                    <p class="fn-14">2 BHK · 658.54 Sq Ft.</p>
                                                    <div class="col-8 row">
                                                        <div class="col-6">
                                                            <p class="fn-12 font-medium mb-0 txt-light-gray">Agreement
                                                                Value
                                                            </p>
                                                            <p class="fn-14">₹ 58,65,032</p>
                                                        </div>
                                                        <div class="col-6">
                                                            <p class="fn-12 font-medium mb-0 txt-light-gray">All
                                                                Inclusive
                                                                Price</p>
                                                            <p class="fn-14">₹ 63,64,235</p>
                                                        </div>
                                                        <div class="col-6">
                                                            <p class="fn-12 font-medium mb-0 txt-light-gray">Total
                                                                Amount
                                                                Paid</p>
                                                            <p class="fn-14">₹ 86,503</p>
                                                        </div>
                                                        <div class="col-6">
                                                            <p class="fn-12 font-medium mb-0 txt-light-gray">Pending
                                                                Balance
                                                            </p>
                                                            <p class="fn-14">₹ 0</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item border-end-0 border-start-0">
                                    <h2 class="accordion-header d-flex justify-content-between" id="headingThree">
                                        <button class="accordion-button collapsed shadow-none" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                            aria-expanded="false" aria-controls="headingThree">
                                            Site Visit
                                        </button>
                                        <a href="javascript:;" class="fn-12 font-medium theme-txt-color w-25 text-end pe-3 py-3"><i class="fa fa-plus fill-primary me-2 fn-12"></i>Site Visit</a>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse"
                                        aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body pt-0 ps-4">
                                            <div class="row ps-3">
                                                <div class="col-12">
                                                    <div class="col-6">
                                                        <p class="fn-12 font-medium mb-0 txt-light-gray mb-2">July 4th,
                                                            2020
                                                        </p>
                                                        <p class="fn-14 font-medium">Site Visit Conducted</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item rounded-bottom border-bottom-0 border-end-0 border-start-0">
                                    <h2 class="accordion-header d-flex justify-content-between" id="headingFour">
                                        <button class="accordion-button collapsed shadow-none rounded-bottom"
                                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                            aria-expanded="false" aria-controls="headingFour">
                                            Payments
                                        </button>
                                        <a href="javascript:;" class="fn-12 font-medium theme-txt-color w-25 text-end pe-3 py-4"><i class="fa fa-plus fill-primary me-2 fn-12"></i>Payment</a>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse rounded-bottom"
                                        aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                        <div class="accordion-body pt-0 ps-4">
                                            <div class="ps-3">
                                                <div class="col-12 row ps-2">
                                                    <div class="col-12  border rounded p-0 pb-2">
                                                        <div class="d-flex justify-content-between p-3 pb-0">
                                                            <p class="fn-14 font-medium txt-drk-b-lt mb-0">₹ 86,503</p>
                                                            <p class="fn-14 mb-0"><i
                                                                    class="fa fa-circle success fa-xs me-2"></i>Success
                                                            </p>
                                                        </div>
                                                        <hr>
                                                        <div class="d-flex justify-content-between p-3 pt-0 pb-1">
                                                            <p class="fn-14 txt-drk-b-lt mb-0">Receipt ID:</p>
                                                            <p class="fn-14 mb-0">IR-TO-13</p>
                                                        </div>
                                                        <div class="d-flex justify-content-between p-3 pt-1 pb-1">
                                                            <p class="fn-14 txt-drk-b-lt mb-0">Booking:</p>
                                                            <p class="fn-14 mb-0">Tower C - 2006 | 34 Park Estate</p>
                                                        </div>
                                                        <div class="d-flex justify-content-between p-3 pt-1 pb-1">
                                                            <p class="fn-14 txt-drk-b-lt mb-0">Issuing Bank:</p>
                                                            <p class="fn-14 mb-0">HDFC Bank</p>
                                                        </div>
                                                        <div class="d-flex justify-content-between p-3 pt-1 pb-1">
                                                            <p class="fn-14 txt-drk-b-lt mb-0">Issuing Bank Branch:</p>
                                                            <p class="fn-14 mb-0">Bandra West</p>
                                                        </div>
                                                        <div class="d-flex justify-content-between p-3 pt-1 pb-1">
                                                            <p class="fn-14 txt-drk-b-lt mb-0">Date of clearance</p>
                                                            <p class="fn-14 mb-0">July 5th, 2020</p>
                                                        </div>
                                                        <div class="d-flex justify-content-between p-3 pt-1 pb-1">
                                                            <p class="fn-14 txt-drk-b-lt mb-0">Date of issuance</p>
                                                            <p class="fn-14 mb-0">July 5th, 2020</p>
                                                        </div>
                                                        <div class="d-flex justify-content-between p-3 pt-1 pb-1">
                                                            <p class="fn-14 txt-drk-b-lt mb-0">Mode of Payment</p>
                                                            <p class="fn-14 mb-0">Cheque</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 float-start mt-4">
                    <h2 class="fn-16 font-medium mb-3">Internal details</h2>
                    <div class="row">
                        <div class="col-4">
                            <p class="fn-12 font-medium mb-0 txt-light-gray">Created On</p>
                            <p class="fn-14">July 3rd, 2020</p>
                        </div>
                        <div class="col-4">
                            <p class="fn-12 font-medium mb-0 txt-light-gray">Booked on</p>
                            <p class="fn-14">July 3rd, 2020</p>
                        </div>
                        <div class="col-4">
                            <p class="fn-12 font-medium mb-0 txt-light-gray">Registration Date</p>
                            <p class="fn-14">Mar 12, 2020</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-2 px-4">
                <div class="row">
                    <div class="col-12 bg-white border rounded shadow pt-3 mb-3 pb-3">
                        <div class="d-flex justify-content-between">
                            <p class="fn-16 font-medium">History</p>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-lg-1 dotted-line">
                                    <p><span class="step-circle"></span></p>
                                </div>
                                <div class="col-lg-11">
                                    <p class="fn-12 text-muted mb-1">July 5th, 2020</p>
                                    <p class="fn-14 font-medium mb-0 ">New Booking Created</p>
                                    <div class="border-bottom mb-4 pt-1"></div>
                                </div>
                                <div class="col-lg-1 dotted-line">
                                    <p><span class="step-circle"></span></p>
                                </div>
                                <div class="col-lg-11">
                                    <p class="fn-12 text-muted mb-1">July 5th, 2020</p>
                                    <p class="fn-14 font-medium mb-0">KYC Completed</p>
                                    <div class="border-bottom mb-4 pt-1"></div>
                                </div>
                                <div class="col-lg-1 dotted-line">
                                    <p><span class="step-circle"></span></p>
                                </div>
                                <div class="col-lg-11">
                                    <p class="fn-12 text-muted mb-1">July 4th, 2020</p>
                                    <p class="fn-14 font-medium mb-0">Site Visit Conducted</p>
                                    <div class="border-bottom mb-4 pt-1"></div>
                                </div>
                                <div class="col-lg-1 dotted-line no-dotted">
                                    <p><span class="step-circle"></span></p>
                                </div>
                                <div class="col-lg-11">
                                    <p class="fn-12 text-muted mb-1">July 4th, 2020</p>
                                    <p class="fn-14 font-medium mb-0">Lead created on Launchpad</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" tabindex="-1" id="galleryModal" aria-labelledby="galleryModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="gallerySlider" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="<%= asset_path 'Celestial-City.jpg' %>" class="d-block w-100 img-fluid"
                                    alt="">
                            </div>
                            <div class="carousel-item">
                                <img src="<%= asset_path 'Celestial-City.jpg' %>" class="d-block w-100 img-fluid"
                                    alt="">
                            </div>
                            <div class="carousel-item">
                                <img src="<%= asset_path 'Celestial-City.jpg' %>" class="d-block w-100 img-fluid"
                                    alt="">
                            </div>
                            <div class="carousel-item">
                                <img src="<%= asset_path 'Celestial-City.jpg' %>" class="d-block w-100 img-fluid"
                                    alt="">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#gallerySlider"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#gallerySlider"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>