<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#googleMeetModal">Launch static backdrop modal</button>

<div class="modal fade googleMeet-modal rounded" id="googleMeetModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded">
        <div class="modal-header">
            <h5 class="modal-title">Welcome to Campaigns</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    <p>A campaign is an advertising strategy which promotes projects with funds from investors. The campaign will generate leads and distribute them among investors proportionate to their investment.</p>
                </div>
                <div class="col-lg-12 mt-3 mb-4">
                    <h6>How does it work?</h6>
                </div>
                <div class="col-lg-3 text-center px-0 hr-dotted position-relative">
                    <div class="h-50 mb-2">
                        <img src="<%= asset_path 'select-campaign.png' %>" class="img-fluid w-auto">
                    </div>                    
                    <p class="fw-medium fn-12">Select campaign</p>
                </div>
                <div class="col-lg-3 text-center px-0 hr-dotted position-relative">
                    <div class="h-50 mb-2">
                        <img src="<%= asset_path 'invest-in-the-campaign.png' %>" class="img-fluid w-auto">
                    </div>                    
                    <p class="fw-medium fn-12">Invest in the campaign</p>
                </div>
                <div class="col-lg-3 text-center px-0 hr-dotted position-relative">
                    <div class="h-50 mb-2">
                        <img src="<%= asset_path 'campaign-runs.png' %>" class="img-fluid w-auto">
                    </div>                    
                    <p class="fw-medium fn-12">Campaign runs</p>
                </div>
                <div class="col-lg-3 text-center px-0">
                    <div class="h-50 mb-2">
                        <img src="<%= asset_path 'you-receive-leads.png' %>" class="img-fluid w-auto">
                    </div>                    
                    <p class="fw-medium fn-12">You receive Leads</p>
                </div>
            </div>	
          
        </div>
        <div class="modal-footer col-lg-12">
            <div class="row">
                <div class="col-lg-8 px-0">
              </div>
              <div class="col-lg-4 text-end px-0">
                  <button type="button" class="btn btn-primary">Ok, got it</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>