<section class="mt-3">
    <div class="px-4">
        <div class="row">
            <div class="col-lg-12 row">
                <div class="col-lg-4 filter-set mt-2">
                    <select class="theme-btn form-control">
                        <option>All Campaigns</option>
                    </select>
                </div>
                <div class="col-lg-8 text-end px-0">
                    <div class="filter-search w-50">
                        <input type="text" name="" placeholder="Search campaigns, projects, campaign manager"
                            class="input-search-icon pe-5">
                    </div>
                    <div class="filter-popup">
                        <a href="javascript:;"><i class="fa fa-filter fill-theme"></i></a>
                    </div>
                    <div class="filter-sort-list d-inline">
                        <select class="theme-btn form-control ms-2 d-inline mx-auto">
                            <option>Recommended</option>
                            <option>Last Added</option>
                        </select>
                    </div>
                    <div class="add-campaign d-inline">
                        <a href="javascript:;" class="btn-primary btn">Add Campaign</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 p-3 mt-3">
            <div class="row g-1">
                <div class="col-md-6">
                    <h6 class="card-title d-inline fn-16">Oberoi Sky City pre launch campaign</h6>
                    <span class="badge bg-warning-light font-normal text-warning fn-14">Not yet started</span>
                    <span class="badge bg-danger-light font-normal text-danger fn-14">Paused</span>
                </div>
                <div class="col-md-6 text-end mt-0 mb-2">
                    <a href="javascript:;" class="font-medium border rounded p-2 px-3 txt-light-blue fn-14 ms-2">Edit</a>
                    <a class="btn table-dropdown-btn" href="#" role="button" id="dropdownMenuLink"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"
                            aria-hidden="true"></i></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="border rounded row p-2 ms-1 me-3">
                    <div class="col-md-auto px-0">
                        <img src="<%= asset_path 'Celestial-City.jpg' %>" class="img-fluid rounded" width="150" alt="">
                    </div>
                    <div class="col-md-10 px-0 row">
                        <div class="col-md-5">
                            <div class="card-body py-0 mt-2">
                                <h6 class="card-title">Oberoi Sky City</h6>
                                <p class="card-text">Embassy Developers</p>
                                <p class="card-text"><i class="fa fa-map-marker-alt fill-theme me-1"></i>
                                    <small class="text-muted">Goregoan West, Mumbai</small>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-7 px-0">
                            <ul class="list-unstyled row gx-1 col-9 float-end mt-1 border-start ps-3 mb-0">
                                <li class="col-6">
                                    <p class="mb-2 fn-14"><i class="fa fa-star fa-xs fill-warning me-2"></i>Good Location</p>
                                </li>
                                <li class="col-6">
                                    <p class="mb-2 fn-14"><i class="fa fa-star fa-xs fill-warning me-2"></i>State of the art
                                        Amenities</p>
                                </li>
                                <li class="col-6">
                                    <p class="mb-2 fn-14"><i class="fa fa-star fa-xs fill-warning me-2"></i>Reputed Developer</p>
                                </li>
                                <li class="col-6">
                                    <p class="mb-2 fn-14"><i class="fa fa-star fa-xs fill-warning me-2"></i>Bank Offers</p>
                                </li>
                                <li class="col-6">
                                    <p class="mb-2 fn-14"><i class="fa fa-star fa-xs fill-warning me-2"></i>Affordable</p>
                                </li>
                                <li class="col-6">
                                    <p class="mb-2 fn-14"><i class="fa fa-star fa-xs fill-warning me-2"></i>Popular among partners
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mt-2">
                    <div class="row">
                        <div class="col-md-3">
                            <span><i class="fa fa-clock fill-theme-light me-1"></i>26 days to start</span>
                        </div>
                        <div class="col-md-9">
                            <div class="row float-end col-12">
                                <div class="col">
                                    <span><i class="fa far fa-dollar-sign fill-success me-2"></i>Rs. 80,000 raised</span>
                                </div>
                                <div class="col-md-8 px-0">
                                    <div class="progress mb-0 height-05 mt-2">
                                        <div class="progress-bar progress-bar-animated bg-success" role="progressbar" style="width:73%" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="col-md-auto text-end">
                                    <span><i class="fa fal fa-bullseye-arrow fill-danger me-2"></i>Rs. 2,20,000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 p-3 mt-3">
            <div class="row g-1">
                <div class="col-md-6">
                    <h6 class="card-title d-inline fn-16">Oberoi Sky City pre launch campaign</h6>
                    <span class="badge bg-warning-light font-normal text-warning fn-14">Not yet started</span>
                    <span class="badge bg-danger-light font-normal text-danger fn-14">Paused</span>
                </div>
                <div class="col-md-6 text-end mt-0 mb-2">
                    <a href="javascript:;" class="font-medium border rounded p-2 px-3 txt-light-blue fn-14 ms-2">Timeline activity</a>
                    <a href="javascript:;" class="font-medium border rounded p-2 px-3 txt-light-blue fn-14 ms-2">Edit</a>
                    <a class="btn table-dropdown-btn" href="#" role="button" id="dropdownMenuLink"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"
                            aria-hidden="true"></i></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="border rounded row p-2 ms-1 me-3">
                    <div class="col-md-auto px-0">
                        <img src="<%= asset_path 'Celestial-City.jpg' %>" class="img-fluid rounded" width="150" alt="">
                    </div>
                    <div class="col-md-10 px-0 row">
                        <div class="col-md-5">
                            <div class="card-body py-0 mt-2">
                                <h6 class="card-title">Oberoi Sky City</h6>
                                <p class="card-text">Embassy Developers</p>
                                <p class="card-text"><i class="fa fa-map-marker-alt fill-theme me-1"></i>
                                    <small class="text-muted">Goregoan West, Mumbai</small>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-7 px-0">
                            <ul class="list-unstyled row gx-1 col-9 float-end mt-1 border-start ps-3 mb-0">
                                <li class="col-6">
                                    <p class="mb-2 fn-14"><i class="fa fa-star fa-xs fill-warning me-2"></i>Good Location</p>
                                </li>
                                <li class="col-6">
                                    <p class="mb-2 fn-14"><i class="fa fa-star fa-xs fill-warning me-2"></i>State of the art
                                        Amenities</p>
                                </li>
                                <li class="col-6">
                                    <p class="mb-2 fn-14"><i class="fa fa-star fa-xs fill-warning me-2"></i>Reputed Developer</p>
                                </li>
                                <li class="col-6">
                                    <p class="mb-2 fn-14"><i class="fa fa-star fa-xs fill-warning me-2"></i>Bank Offers</p>
                                </li>
                                <li class="col-6">
                                    <p class="mb-2 fn-14"><i class="fa fa-star fa-xs fill-warning me-2"></i>Affordable</p>
                                </li>
                                <li class="col-6">
                                    <p class="mb-2 fn-14"><i class="fa fa-star fa-xs fill-warning me-2"></i>Popular among partners
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mt-2">
                    <div class="row">
                        <div class="col-md-3">
                            <span><i class="fa fa-clock fill-theme-light me-1"></i>26 days to start</span>
                        </div>
                        <div class="col-md-9">
                            <div class="row float-end col-12">
                                <div class="col">
                                    <span><i class="fa far fa-dollar-sign fill-success me-2"></i>Rs. 80,000 raised</span>
                                </div>
                                <div class="col-md-8 px-0">
                                    <div class="progress mb-0 height-05 mt-2">
                                        <div class="progress-bar progress-bar-animated bg-success" role="progressbar" style="width:73%" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="col-md-auto text-end">
                                    <span><i class="fa fal fa-bullseye-arrow fill-danger me-2"></i>Rs. 2,20,000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>