<div class="table-responsive">
  <table class='table striped-table' width="100%" cellpadding="10" cellspacing="0">
    <thead class="th-default">
      <tr>
        <th>Row</th>
        <th>Errors</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% errors.each do |error| %>
      <tr>
        <td>
          <%= error %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
