<section class="">
  <div class="">
    <div class="row">
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
        <div class="box-card relative">
          <%= render 'show_index_lead', cp_lead_activities: cp_lead_activities %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= javascript_tag do %>
  $(document).ready(function(){
    var count = <%= raw cp_lead_activities.count %>
    if(count != 0){
      $('#collapseCpLeadActivities').collapse('show')
    }
  });
<% end %>
