<div class="row">
  <div class="col-md-12">
    <% options = (existing_lead ? [[existing_lead.ds_name, existing_lead.id]] : [[]])  %>
    <%= f.input :_id, label: 'Lead', collection: options, as: :select, prompt: :translate, required: true, autofocus: true, input_html: { name: 'lead_id', class: 'selectize-remote', data: { url: admin_leads_path } } %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= f.input :project_id, collection: Project.all.collect{|p| [p.name, p.id]}, required: true, disabled: !policy([:admin, @lead]).editable_field?("project_id"), as: :select, prompt: :translate, input_html: { class: 'selectize', name: 'project_id' } %>
  </div>
</div>
