<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <%= render 'overview', lead: @lead %>

      <!-- booking_details -->
      <% if current_client.enable_actual_inventory?(current_user) %>
        <div class="separate-line container"></div>
        <%= render 'booking_details/section', booking_details: @booking_details %>

        <!-- receipts -->
        <div class="separate-line container"></div>
        <%= render 'receipts/section', receipts: @receipts %>
      <% end %>

      <!-- Note Summary -->
      <div class="separate-line container"></div>
      <%= render 'notes/section', notable: @lead %>

    </div>
  </div>
</div>
