<div class="modal right fixed-header-footer" id="modal-remote-form-inner" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary white">
        <h3 class="title">
          <%= t("controller.booking_details.#{params[:type]}.link_name") %>
        </h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "booking_details/#{params[:type]}", booking_detail: @booking_detail %>
      </div>
    </div>
  </div>
</div>
