<%= form_for(@booking_detail, url: update_booking_without_inventory_admin_booking_detail_path  , local: true, remote: true, html: {class: 'validate-form modal-remote-form theme-form', "data-type": "json", id: 'booking_detail_form_without_inv'}) do |f| %>
<%= f.hidden_field :lead_id, value: @booking_detail.lead_id %>
<div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <%= render 'form_booking_without_inventory', f: f, edit_access: true %>    
    </div>
  </div>
</div>
<% end %>
<%= javascript_tag do %>
$(document).ready(function(){
  FormInitializer.init($("#booking_detail_form_without_inv"));
});
<% end %>
