<div class = "row p-4">
  <div class = "col-12">
    <button onclick='window.print();' class='btn btn-primary d-print-none'>Print</button>
    <% if policy([current_user_role_group, @booking_detail]).send_booking_detail_form_notification? %>
      <%= link_to t('booking_details.links.send_to_customer'), send_booking_detail_form_notification_admin_booking_detail_path(@booking_detail), class: 'btn btn-primary d-print-none' %>
    <% end %>
  </div>
</div>
<%= render 'generate_booking_detail_form' %>
