<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-7">
              <% if policy([:admin, BookingDetail.new]).mis_report? %>
                <%= link_to "MIS report #{global_labels['units']}", mis_report_admin_booking_details_path, class: 'btn btn-primary float-left ml-md-2 mt-md-0 mt-2 margin-xs-left-0' %>
              <% end %>
            </div>
            <div class="col-md-5 text-md-right">
              <h6 class="mt-2">Total  Bookings: <%= @booking_details.total_entries %></h6>
            </div>
          </div>
          <%= render '/admin/booking_details/index', booking_details: @booking_details %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="d-md-none mt-3"></div>
      <%= render "filters" %>
    </div>
  </div>
</div>
