<%= form_for(@booking_detail, url: create_booking_without_inventory_admin_booking_details_path  ,local: true, html: {class: 'validate-form', id: 'booking_detail_form_without_inv'}) do |f| %>
<%= f.hidden_field :lead_id, value: @booking_detail.lead_id %>
  <div class="row justify-content-center">
    <div class="col-md-11">
      <div class="h-100">
        <div class = 'fn-18 theme-txt-color mb-2'>
          <div class="card-body">
            <%= render 'form_booking_without_inventory', f: f, edit_access: false %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= javascript_tag do %>
$(document).ready(function(){
  FormInitializer.init($("#booking_detail_form_without_inv"));
});
<% end %>
