<section class="mb-5 mt-3">
  <div class="px-4">
    <div class="row">
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
        <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
          <div class="relative bg-white">
            <%= render 'index', {unit_configurations: @unit_configurations} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
