<div class="row">
  <div class="col-md-12 mt-3">
    <%= render 'dashboard/booking_detail_overview', {booking_detail: @booking_detail} %>
  </div>
  <div class="col-md-12 mt-3">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <%= @booking_detail.cost_sheet_template.parsed_content(@booking_detail) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 mt-3">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <%= @booking_detail.payment_schedule_template.parsed_content(@booking_detail) %>
        </div>
      </div>
    </div>
  </div>
</div>
