<div class="row">
  <div class="col-md-10 border border-left-0 border-top-0 border-bottom-0">
    <%= render 'index', project_units: @project_units %>
  </div>
  <div class="col-md-2">
    <%= render "filters" %>
  </div>
</div>
