<%- unless params[:layout].blank? %>
  <div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary white">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
<% end %>

<div class='quotation mb-5'>
  <%= render 'admin/project_units/quotation' %>
</div>

<%- unless params[:layout].blank? %>
      </div>
    </div>
  </div>
</div>
<%- end %>
