<%- if !params[:layout].blank? %>
  <div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-gradient-cd white">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
<%- end %>

<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <%= render 'dashboard/project_unit_overview', { project_unit: @project_unit } %>

      <% if %w[superadmin admin].include?(current_user.role) && @booking_details.present? %>
        <div class="mt-3"></div>
        <%= render 'booking_details/section', booking_details: @booking_details %>
      <% end %>

      <div class="mt-3"></div>
      <%= render 'assets/section', record: @project_unit, assets: @project_unit.assets %>
    </div>
  </div>
</div>

<%- if !params[:layout].blank? %>
      </div>
    </div>
  </div>
</div>
<%- end %>
