<section class="mb-5 mt-3">
  <div class="">
    <div class="row">
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
        <div class="table-btn-set float-end pb-3 text-end">
       <div class="filter-search">
          <input type="text" name="" placeholder="<%= I18n.t("controller.projects.text.search_token") %>">
        </div>
        <% if policy([current_user_role_group, TokenType.new]).new? %>
                <%= link_to I18n.t("global.link_to.add_element", name: global_labels['token_type']), new_admin_project_token_type_path, class: 'btn btn-primary modal-remote-form-link ms-2', data:{event_category: 'Section', event_action: 'Click', event_name: 'Add Event'} %>
              <% end %>
        </div>
      </div>
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
        <div class="relative bg-white">
          <%= render 'index', {token_types: @token_types} %>
        </div>
      </div>
    </div>
  </div>
</section>
