<%= content_for :breadcrumbs do %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%= home_path(current_user) %>">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">SyncLogs</li>
    </ol>
  </nav>
<% end %>
