<% hex_id = "collapseInterestedProjects#{SecureRandom.hex(4)}" %>
<section class="leads mb-4">
  <div class="">
    <div class="row">
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 p-0 bg-white collapseInterestedProjects collapse" id="<%= hex_id %>">
        <%= render "admin/interested_projects/index", interested_projects: @user.interested_projects %>
      </div>
    </div>
  </div>
</section>
<%= javascript_tag do %>
  $(document).ready(function(){
      var count = <%= raw @user.interested_projects.count %>
      if(count != 0){
        $('.collapseInterestedProjects').collapse('show')
      }
  });
<% end %>
