<section class="projects-list device-pd my-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 p-0 cursor-pointer" data-toggle="collapse" href="#collapseBookings" role="button" aria-expanded="false" aria-controls="collapseBookings">
        <div class="table-title pt-1">
          <h2 class="title text-dark icon-set icon-home-black">
            <%= t('controller.buyer.dashboard.my_bookings') %>
          </h2>
        </div>
      </div>
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 p-0 collapse" id="collapseBookings">
        <% current_user.active_bookings.each do |booking| %>
          <%= render "booking_details/details", booking_detail: booking, with_actions: true %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<%= javascript_tag do %>
  $(document).ready(function(){
    var count = <%= current_user.active_bookings.count %>
    if(count != 0){
      $('#collapseBookings').collapse('show')
    }
  });
<% end %>
