<% hex_id = "collapseUsers_#{SecureRandom.hex(4)}" %>
<section class="users mb-4">
  <div class="">
    <div class="row">
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12" id="<%= hex_id %>">
        <%= render "admin/users/index", users: users %>
      </div>
    </div>
  </div>
</section>
<%= javascript_tag do %>
  $(document).ready(function(){
      var count = <%= raw users.total_entries %>
      if(count != 0){
        $('.collapseUsers').collapse('show')
      }
  });
<% end %>
