<section class="projects-list my-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 p-0 cursor-pointer" data-toggle="collapse" href="#collapseTimeSlots" role="button" aria-expanded="false" aria-controls="collapseTimeSlots">
        <div class="table-title pt-1">
          <h2 class="title text-dark icon-set icon-time-black">
            <%= t('controller.buyer.dashboard.time_slots') %>
          </h2>
        </div>
      </div>
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 p-0 collapse" id="collapseTimeSlots">
        <%= render 'receipts/time_slot', {receipts: current_user.receipts, with_actions: false} %>
      </div>
    </div>
  </div>
</section>
<%= javascript_tag do %>
  $(document).ready(function(){
    var count = <%= current_user.receipts.pluck(:time_slot).compact.count %>
    <!-- Show the list if time slots (one or more) are present. -->
    if(count != 0){
      $('#collapseTimeSlots').collapse('show')
    }
  });
<% end %>
