<div class="mb-5 mt-3">
  <div class="px-4">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-md-12">
                <% if policy([current_user_role_group, Developer.new]).new? %>
                <%= link_to "Add #{global_labels['developer']}", new_admin_developer_path, class: 'btn btn-primary modal-remote-form-link', data:{event_category: 'Section', event_action: 'Click', event_name: 'Add Event'} %>
                <% end %>
              </div>
            </div>
            <%= render 'index', {developers: @developers} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>