<div class='row mt-4'>
  <div class='col-12'>
    <% template = ::Template::InvoiceTemplate.where(booking_portal_client_id: current_client.try(:id), project_id: @invoice.project_id).first %>
    <% if template.present? %>
      <%= ::ERB.new(template.content).result( binding ).html_safe %>
    <% end %>
  </div>
</div>
