<div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
  <%= form_for @video, url: videoable_path(id: @video.id), remote: true, html: { class: 'modal-remote-form validate-form', data: { 'resource-type': Video.model_name.human(count: 1), type: :json } } do |f| %>
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="title"><%= Video.model_name.human(count: 2) %></h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <%= render 'form', f: f, videoable: @videoable, video: @video %>
        </div>
        <div class="modal-footer">
          <%= f.submit I18n.t("global.save"), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
