<div class="col-lg-4 col-xs-12 col-sm-12 col-md-6">
  <div class="step-result <%= (@customer_search.crossed_step("sitevisit") || @customer_search.step == 'sitevisit') ? 'active': ''%>">
    <i class="icon icon-4"></i>
    <span>Check In</span>
  </div>
</div>