<div class="card d-print-none">
  <div class = "card-header"> Sync </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <% record.erp_models.active.where(action_name: 'create').each do |erp_model| %>
            <div class="col-md-4">
              <div class="form-group">
                <label>Last Sync On:</label>
                <div>
                  <%= erp_model.try(:domain) %>
                </div>
              </div>
            </div>
            <% sync_log = record.sync_logs.where(erp_model_id: erp_model.id).desc(:created_at)[0] %>
            <div class="col-md-4">
              <div class="form-group">
                <label>Last Sync At:</label>
                <div>
                  <%= sync_log.try(:created_at).try(:strftime, "%d/%m/%Y %l:%M %p") %>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Last Sync Log Status:</label>
                <div>
                  <%= sync_log.try(:status) %>
                  <% if policy([:admin, SyncLog.new]).create? && !record.third_party_references.where(domain: erp_model.domain).present? %>
                    <%= link_to "Sync", admin_sync_logs_path(sync: { erp_model_id: erp_model.id, resource_id: record, resource_type: record.class.to_s}), method: :post %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>