<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>BookingPortal</title>
	<%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <style type="text/css">
    *, *:after, *:before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;}
 	p, ul, h1, h2, h3, h4, h5, h6{padding:0;  margin:0;}
    	.row:before, .row:after{display: table;content: " ";}
		.row:after, .clearfix{clear: both;}
		.text-white{color: #fff;}
		.text-green{color:#6c7d35;}
		.bg-green{background-color:#6c7d35;}
		.eoi-form-wrapper{margin: 30px 0;}
		#eoi{padding: 30px 0;}
		.eoi-table-wrapper{margin: 30px 0;}
		.eoi-table thead{background-color: #6c7d35;color:#fff;font-weight: 500;}
		.eoi-table th{font-size: 16px;font-weight: 400;}
		.eoi-table th, .eoi-table td{text-align: center;padding:5px;border:1px solid #ccc;}
    </style>
</head>
<body>
	<section class="col-12" id="eoi">
		<div class="container">
			EOI goes here
		</div>
	</section>
</body>
</html>
