<style>
html, body{
	margin: 0;
	padding: 0;
}
	a{
		display: block;
	}
	a>img{
		width: 100%;
		display: block;
	}
</style>
<a href="/register">
	<img src="<%= asset_path 'embassy_home.jpg' %>" class="img-full" />
</a>