<!DOCTYPE html>
<html>
<head>
<title></title>
<style type="text/css">
	body, html{
		padding: 0px;
		margin: 0px;
	}
</style>
</head>
<body>
	<a href="/register?srd=5a72c7a67c0dac7e854aca9e"><img src="/Embassy-Edge-SIngle-Page-Web-Design.png" style="display:block;width:100%"></a>
</body>
<!-- lsquare -->
	<script type="text/javascript">
	  var _paq = _paq || [];
	  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
	  _paq.push(["setCookieDomain", "*.embassyindia.com"]);
	  _paq.push(['trackPageView']);
	  _paq.push(['enableLinkTracking']);
	  (function() {
	    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://lswebanalytics.com/analytics/";
	    _paq.push(['setTrackerUrl', u+'lsquare.php']);
	    _paq.push(['setSiteId', 78]);
	    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
	    g.defer=true; g.async=true; g.src=u+'lsquare.js'; s.parentNode.insertBefore(g,s);
	  })();
	</script>
	<script type="text/javascript">
	(function(d, src, c) { var t=d.scripts[d.scripts.length - 1],s=d.createElement('script');s.id='la_x2s6df8d';s.async=true;s.src=src;s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs&&(rs!='complete')&&(rs!='loaded')){return;}c(this);};t.parentElement.insertBefore(s,t.nextSibling);})(document,
	'//livesquare.in/livesq/scripts/track.js',
	function(e){ LiveAgent.createButton('e97f6945', e); });
	</script>
	<noscript><p><img src="http://lswebanalytics.com/analytics/lsquare.php?idsite=78" style="border:0;" alt="" /></p></noscript>
<!-- End lsquare Code -->
</html>
