<section class="dashboard-bg full-height white-bg-xs">
    <div class="container">
        <div class="col-7 login-card-wrapper">
            <div class="login-card">    
                <a href="javascript:void(0);" class="logo-wrapper">
                    <img src="<%= asset_path "embassy_springs_logo.png" %>" class="img-responsive" />
                </a>
                <div class="pageTitle purple text-center">Sign Up</div>
                <div class="subTitle purple text-center">Register now to start saving!</div>
                <div class="sign-up form-wrapper">
                    <script src='//trkr.scdn1.secure.raxcdn.com/t/531de108a7a03997c3000002.js'></script>
                    <script src='//trkr.scdn1.secure.raxcdn.com/t/forms/531de108a7a03997c3000002/563498849ddc787cd80002a6.js' data-form-id='563498849ddc787cd80002a6'>
                    </script> 
                </div>
                <div class="col-12 separator relative text-center">
                    <div class="col-6">
                        <div class="">
                            Already Registered?
                        </div>
                        <div>
                            <a class="pink btn" href="/users/sign_in">Sign In</a>    
                        </div>    
                    </div>
                    <div class="col-6 padding-right-30 border-left">
                        <div class="">
                            Channel Partner
                        </div>
                        <div>
                            <a class="pink btn" href="/channel_partners/new">Register</a>    
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-12 prompts-message gradient-bg text-center">
                <p>Register now to book & save upto Rs. 10 Lac!<br/> Prices rise with every 50 bookings</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
   	<!-- <section>
   		<div class="container">
   			<div class="col-12 text-center main-margin">
   				
   			</div>
   			<div class="col-12">
   				<div class="col-3">&nbsp;</div>
	   			<div class="col-6 text-center padding-right-30">
	   				<div class="pageTitle big">Register now to book online</div>
	   				<div>
		   				<script src='http://1.sell.do/t/587ddb2b5a9db31da9000002.js'></script>
						<script src="http://1.sell.do/t/forms/587ddb2b5a9db31da9000002/587ddb2f5a9db31da900004b.js" data-form-id="587ddb2f5a9db31da900004b"></script>
					</div>
					<div class="col-12 separator relative">
                        <div class="col-6 padding-right-30">
                            <div class="pageTitle medium">
                                Channel Partner
                            </div>
                            <div>
                                <a class="btn" href="/channel_partners/new">Register</a>    
                            </div>
                        </div>
                        <div class="col-6 padding-left-30">
                            <div class="pageTitle medium">
                                Already Registered?
                            </div>
                            <div>
                                <a class="btn" href="/users/sign_in">Sign In</a>    
                            </div>    
                        </div>
                    </div>
	   			</div>
	   		</div>
   		</div>
   	</section> -->
