<section class="auth login-page pb-5">
  <div class="container no-pd">
    <div class="col-lg-5 col-xs-12 col-md-12 col-sm-12 no-pd">
      <div class="login-form-wrapper pt-5">
        <p> <strong>Register Now</strong> to Book Online</p>
        <%=render "devise/registrations/new", resource: @resource %>
        <%=render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>
