<section class="dashboard-bg full-height white-bg-xs">
  <div class="container">
    <div class="col-7 login-card-wrapper">
      <div class="login-card">
        <a href="javascript:void(0);" class="logo-wrapper">
          <img src="<%= asset_path "embassy_springs_logo.png" %>" class="img-responsive" />
        </a>
        <div class="subTitle purple text-center" style="margin-bottom:25px;">Register now to book your </div>
        <div class="pageTitle purple text-center">Embassy Home</div>
        <div class="sign-up form-wrapper">
          <script src='//trkr.scdn1.secure.raxcdn.com/t/531de108a7a03997c3000002.js'></script>
          <script src='//trkr.scdn1.secure.raxcdn.com/t/forms/531de108a7a03997c3000002/5abba073923d4a567f880952.js' data-form-id='5abba073923d4a567f880952'></script>
        </div>
        <div class="col-12 separator relative text-center">
          <div class="col-6">
            <div class="">
              Already Registered?
            </div>
            <div>
              <a class="green btn" href="/users/sign_in" data-event-category="section" data-event-action="click" data-event-name="Sign In">Sign In</a>
            </div>
          </div>
          <div class="col-6 padding-right-30 border-left">
            <div class="">
              Channel Partner
            </div>
            <div>
              <a class="green btn" href="/channel_partners/new" data-event-category="section" data-event-action="click" data-event-name="Register">Register</a>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-12 prompts-message gradient-bg text-center">
        <p>Book online by paying <%= number_to_indian_currency(ProjectUnit.blocking_amount) %> <br/> Prices rise with every 50 bookings</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>
<script type="text/javascript" data-tag="selldo">
window.sell_do_form_rendered = function(){
  $('[name="sell_do[form][custom][portal_cp_id]"]').closest('.selldof_row').hide();
  $(".selldof .btn").attr("data-event-category","section").attr("data-event-action","click").attr("data-event-name","submit")
};
window.sell_do_form_submitted = function(data, event){

};
</script>
