<% @lead = Lead.where(booking_portal_client_id: current_user.booking_portal_client_id, closing_manager_id: current_user.id).in(customer_status: %w(engaged payment_done)).first %>
<div class="px-4">
  <%= render "dashboard/index/partials/user_search", lead_id: @lead.try(:id) %>
  <div id="get-started">
    <div class='row mt-5'>
      <div class='col-md-12'><div class="alert alert-success mb-2"><%= I18n.t("global.link_to.virtual_walkthrough") %></div></div>
    </div>
  </div>
</div>
<!-- TODO project specific URL and domain specific URL -->
<% if current_client.present? %>
  <div class="px-4">
    <div class="first-sec welcome-box my-3">
    <% template = ::Template::UITemplate.where(::Template.user_based_scope(current_user)).where(name: 'sales_dashboard', booking_portal_client_id: current_client.id).first %>
    <% if template.present? %>
      <%= get_view_erb(template, check_active: true) %>
    <% end %>
    </div>
  </div>
<% end %>
