<p>
  We have a new channel partner registered on the portal. The details are:
</p>
Email: <%= @channel_partner.email %><br/>
Phone: <%= @channel_partner.phone %><br/>
RERA ID: <%= @channel_partner.rera_id %><br/>
Name: <%= @channel_partner.last_name %><br/>
