<div class="card w-100">
  <div class="card-body">
    <p>
      We wanted to notify you that <%= @user.name %> (registered by you) has confirmed his account with a different channel partner. You won't be able to take a booking for this customer any more. In case of any queries, please get in touch with our channel partner team.
    </p>
  </div>
</div>
