<div class="mb-3">
  <%= f.label :logo, class: '' %>
  <%= f.file_field :logo, class: 'btn pl-0 file-input', disabled: !policy([:admin, @project]).editable_field?("logo") %>
  <% if @project.logo.present? %>
    <div style="width:100px;height:100px;overflow:hidden;" class="ml-3">
      <img src="<%= @project.logo.url %>" style="max-height: 100%; max-width:100%;" />
    </div>
  <% end %>
  <hr/>
</div>
