<div class="form-group">
  <%= f.label :terms_and_conditions, class: '' %>
  <%= f.text_area :terms_and_conditions, class: 'form-control summernote', disabled: !policy([:admin, @project]).editable_field?("terms_and_conditions") %>
</div>
