<section class="mb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd">
        <div class="table-title pt-1">
          <h1 class="title icon-set icon-building-black">
            <%= t('controller.projects.index.link_name') %>
          </h1>
        </div>
      </div>
      <!--
      <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd">
        <div class="table-btn-set float-right pb-3">
          <%# if policy([:admin, Project]).export? %>
            <div class="export-menu display-initial">
              <button class="db-small-btn light-blue bg-white fn-400 dropdown-toggle" href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%# t('controller.projects.exports.link_name', type: nil) %>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <%# link_to t('controller.projects.exports.link_name', type: t('global.all')), export_admin_projects_path, class: 'dropdown-item' %>
                <%# link_to t('controller.projects.exports.link_name', type: t('global.active_filter')), export_admin_projects_path(fltrs: params["fltrs"].as_json), class: 'dropdown-item' %>
              </div>
            </div>
          <%# end %>
          <button class="db-filter-btn white fn-500" type="button">
            <i class="icon-set icon-filter-light-blue"></i>
          </button>
        </div>
      </div>
      -->
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
        <div class="box-card relative">
          <%= render 'index', projects: @projects %>
        </div>
      </div>
    </div>
  </div>
</section>
