<div class="dropdown show text-right">
  <a class="btn dropdown-toggle table-dropdown-btn <%= color %>-clr" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span><span></span><span></span></a>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
    <% if policy([:admin, scheme]).edit? %>
      <%= link_to t('helpers.edit.link_name', model: Scheme.model_name.human), edit_admin_scheme_path(scheme), class: 'dropdown-item modal-remote-form-link' %>
    <% end %>
  </div>
</div>
