<div class="dropdown show text-right">
  <a class="btn dropdown-toggle table-dropdown-btn <%= color %>-clr" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span><span></span><span></span></a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <% if policy([:admin, scheme]).edit? %>
      <%= link_to t('controller.schemes.edit.link_name'), edit_admin_scheme_path(scheme), class: 'dropdown-item modal-remote-form-link' %>
    <% end %>
  </div>
</div>