<section class="mb-5 mt-3">
  <div class="">
    <div class="row">
      <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd">
        <div class="table-title pt-1">
          <h1 class="title icon-file-kycs-black icon-set fn-18 mt-2">
            <%= UserKyc.model_name.human(count: @user_kycs.total_entries) %>
          </h1>
        </div>
      </div>
      <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd">
        <div class="table-btn-set float-end pb-3">
          <% if Buyer::UserKycPolicy.new(current_user, UserKyc.new(user: current_user, lead: current_lead)).new? %>
            <%= link_to t('controller.user_requests.new.link_name'), new_buyer_user_kyc_path, class: 'btn modal-remote-form-link db-small-btn bg-primary btn white fn-400', data:{event_category: 'Section', event_action: 'Click', event_name: 'Add User KYC Co Applicant'} %>
          <% else %>
            <%= link_to t('controller.user_requests.new.link_name'), select_projects_path(redirect_to: 'kyc'), class: 'btn db-small-btn bg-primary btn white fn-400', data:{event_category: 'Section', event_action: 'Click', event_name: 'Add User KYC Co Applicant'} %>
          <% end %>
        </div>

      </div>

      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
        <div class="box-card relative">
          <%= render 'admin/user_kycs/index', {user_kycs: @user_kycs} %>
        </div>
      </div>
    </div>
  </div>
</section>
