<%= nested_form_for([:admin, @invoice, @incentive_deduction], url: admin_invoice_incentive_deduction_path(@incentive_deduction), local: true, remote: true, html: {class: 'modal-remote-form validate-form', "data-resource-type": global_labels['incentive_deductions'], "data-type": "json", id: 'incentive_deduction_form'}) do |f| %>
  <div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-gradient-cd white">
          <h3 class="title"><%= IncentiveDeduction.model_name.human %></h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="white">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'form_fields', f: f, incentive_deduction: @incentive_deduction %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= javascript_tag do %>
$(document).ready(function(){
  FormInitializer.init($("#incentive_deduction_form"));
});
<% end %>
