<section class="main-wrapper padding-side-12">
	<div class="container-fluid">
		<div class="col-12">
			<div class="apartment-selector-wrapper">
				<div class="title">Edit KYC Form</div>
			</div>
			<%= render 'form', user_kyc: @user_kyc %>
		</div>
	</div>
</section>
