<section class="main-wrapper">
	<div class="container-fluid">
		<div class="page-title-wrapper">
			<div class="title">Add KYC Details</div>
		</div>
		<%= render 'form', user_kyc: @user_kyc %>
	</div>
</section>
