<% if booking_detail.booking_detail_scheme %>
  <%= booking_detail.payment_schedule_template.parsed_content(booking_detail) if booking_detail.payment_schedule_template.is_active? %>
<% else %>
  <p class='text-left'><%= t('booking_detail_schemes.rejected_scheme') %></p>
<% end %>
