<% booking_detail = booking_details.first %>
<div class="row">
  <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
    <%= render 'admin/booking_details/index', { booking_details: booking_details } %>
  </div>
</div>
<%= javascript_tag do %>
$(document).ready(function(){
var count = <%= raw booking_details.total_entries %>
if(count != 0){
$('#collapseBookings').collapse('show')
}
});
<% end %>