<% 
    todays_incentive = (@incentive_predictions_data.first[:today_incentive] rescue 0.0)
    next_week_incentive = (@incentive_predictions_data.first[:next_week_incentive] rescue 0)
    difference = (@incentive_predictions_data.first[:today_incentive] - @incentive_predictions_data.first[:next_week_incentive] rescue 0)
    gain_difference_percentage = (((difference.to_f / @incentive_predictions_data.first[:today_incentive].to_f) * 100).round(2) rescue 0.0)
%>
<h5>Today</h5> <h2><%= number_to_indian_currency(todays_incentive) %></h2></h3>
<!-- <span><img src="<%#= asset_path 'leaderboard/feather-arrow-up.svg' %>">₹<%#= difference %>(<%= gain_difference_percentage %>%)</span> -->
<h5>After 7 Days</h5><h2 class="loss"><%= number_to_indian_currency(next_week_incentive) %></h2></h3>
<span>Loss: <strong class="px-2"><%= number_to_indian_currency(difference) %></span>