<section class="my-4 mb-4 mt-3">
  <div class="px-4">
    <div class="row">
      <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12">
        <div class="table-title pt-1">
          <h2 class="title text-dark icon-set icon-home-black">
            <%= I18n.t("global.tabs.get_details_from_crm") %>
          </h2>
        </div>
      </div>
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
        <%= render "admin/crm/base/choose_crm", crms: Crm::Base.where(booking_portal_client_id: current_client.try(:id), id: {"$in": apis.distinct(:base_id)}), apis: apis, resource: resource %>
      </div>
    </div>
  </div>
</section>
<%= javascript_tag do %>
  $(document).ready(function(){
  var count = <%= raw apis.count %>
    if(count != 0){
      $('#collapseCrm').collapse('show')
    }
  });
<% end %>
