var Gamification = (function(){
  var pusher, gamification_channel;
  var init = function(){
    pusher = new Pusher("<%= ENV_CONFIG['pusher']['key'] %>", {
      cluster: "<%= ENV_CONFIG['pusher']['cluster'] %>",
      encrypted: true
    });

    gamification_channel = pusher.subscribe('<%= Gamification::DEFAULT_CHANNEL %>');
    gamification_channel.bind('<%= Gamification::DEFAULT_EVENT %>', function(data) {
      if(data.message){
        show(data.message);
      }
    });
  }
  var gamification_selector = '#gamification_container';

  var show = function(message, message_for){
    if(message_for){
      if($(gamification_selector + " .for-" + message_for).length == 0){
        $(gamification_selector).append("<li class='for-" + message_for + "'>" + message + "</li>");
      }else{
        $(gamification_selector + " .for-" + message_for).replaceWith("<li class='for-" + message_for + "'>" + message + "</li>");
      }
    }else{
      $(gamification_selector).append("<li>" + message + "</li>");
    }
  }

  var gamifyUnitSelection = function(unitData){
    var rand = _.random(7);
    if(rand == 0 || rand == 2){
      $.ajax({
        url: "/dashboard/gamify-unit-selection",
        data: {
          carpet: parseFloat(unitData[1]),
          bedrooms: parseInt(unitData[3])
        },
        success: function(data){
          show(data.message, 'unit');
        }
      });
    }else if(rand == 3 && unitData[5] > 5){
      show("This is one of our most popular floors with stunning views", 'unit');
    }else if((rand == 4 || rand == 5) && parseInt(unitData[3]) > 1){
      show("Popular choice of first-time home buyers", 'unit');
    }else{
      show((_.random(5) + 8) + " other people are viewing the apartments on this floor", 'unit');
    }
  }

  var gamifyTowerSelection = function(tower_id){
    show((_.random(25) + 23) + " other people like you are looking for a home in this tower", 'tower');
  }

  return {
    init: init,
    gamifyUnitSelection: gamifyUnitSelection,
    gamifyTowerSelection: gamifyTowerSelection,
  };
})();
$(document).ready(function(){
  Gamification.init();
});
