$(document).ready(function(){
  var is_touch_device = ("ontouchstart" in window) || window.DocumentTouch && document instanceof DocumentTouch;
  if(!is_touch_device){
    $('[data-toggle="popover"]').popover({
      html: true,
      trigger: 'hover',
      placement: 'top'
    });
  }
});

var showUnitData = function(unit, assets){
  var $form = $(".edit_search_form");
  $form.find('[name="search[project_unit_id]"]').val(unit._id);
  $form.find('input[type="submit"]').removeAttr("disabled");

  $("#unit-description").find('[data-placeholder="name"]').html('Unit No.: ' + unit.name);
  $("#unit-description").find('[data-placeholder="floor"]').html(unit.floor);
  $("#unit-description").find('[data-placeholder="floor_order"]').html(unit.floor_order);
  $("#unit-description").find('[data-placeholder="bedrooms"]').html(unit.bedrooms + " BHK");
  $("#unit-description").find('[data-placeholder="bathrooms"]').html(unit.bathrooms);
  $("#unit-description").find('[data-placeholder="saleable"]').html(unit.saleable);
  $("#unit-description").find('[data-placeholder="carpet"]').html(unit.carpet);
  $("#unit-description").find('[data-placeholder="facing"]').html(unit.unit_facing_direction);
  if(unit.calculated_data){
    _.each(unit.calculated_data, function(v, k){
      $("#unit-description").find('[data-placeholder="data:' + k + '"]').html(v);
    });
  }
  if(unit.calculated_costs){
    _.each(unit.calculated_costs, function(v, k){
      $("#unit-description").find('[data-placeholder="cost:' + k + '"]').html(v);
    });
  }
  $("#unit-description").find('[data-placeholder="effective_rate"]').html(Amura.formatMoney(unit.effective_rate));
  $("#unit-description").find('[data-placeholder="agreement_price"]').html(Amura.formatMoney(unit.agreement_price));
  $("#unit-description").find('[data-placeholder="all_inclusive_price"]').html(Amura.formatMoney(unit.all_inclusive_price));
  Gamification.gamifyUnitSelection(unit, $('#unit-description [data-placeholder="gamification"]'));
  if(assets.length > 0){
    $(".unit_image_container").show();
    $('[data-placeholder="unit_image"]').attr("src", _.first(assets).file.url);
    $('[data-placeholder="unit_image"]').show();
    var gallery_html = '<div id="unit_gallery" class="carousel slide" data-ride="carousel">'
    gallery_html += '<ol class="carousel-indicators">'
    var count = 0;
    _.each(assets, function(asset){
      gallery_html += '<li data-target="#unit_gallery" data-slide-to="' + count + '" class="' + (count == 0 ? "active" : "") + '"></li>';
      count += 1;
    });
    gallery_html += '</ol>'
    gallery_html += '<div class="carousel-inner">'
    var count = 0;
    _.each(assets, function(asset){
      gallery_html += '<div class="carousel-item ' + (count == 0 ? "active" : "") + '">\
        <img class="d-block w-100" src="' + asset.file.url + '">\
      </div>'
      count += 1;
    });
    gallery_html += '</div>';
    gallery_html += '<a class="carousel-control-prev" href="#unit_gallery" role="button" data-slide="prev">\
        <span class="fas fa-chevron-left text-dark" aria-hidden="true"></span>\
        <span class="sr-only">Previous</span>\
      </a>\
      <a class="carousel-control-next" href="#unit_gallery" role="button" data-slide="next">\
        <span class="fas fa-chevron-right text-dark" aria-hidden="true"></span>\
        <span class="sr-only">Next</span>\
      </a>\
    </div>';
    $('[data-placeholder="gallery_unit_images"]').html(gallery_html);
    $('#unit_gallery').carousel();
  }else{
    $(".unit_image_container").hide();
    $('[data-placeholder="unit_image"]').hide();
    $('[data-placeholder="gallery_unit_images"]').html("");
  }
  $("#unit-description").find('[data-placeholder="unit_facing_direction"]').html(unit.unit_facing_direction);
  if($("#unit-description").hasClass('d-none')){
    $("#unit-description").removeClass('d-none');
  }
  $.scrollTo($("#unit-description").offset().top - $('.navbar').outerHeight(), 800);
}

var showTowerData = function(tower){
  $("#tower-description").find('[data-placeholder="name"]').html(tower.project_tower_name);
  $("#tower-description").find('[data-placeholder="floors"]').html(tower.floors);
  $("#tower-description").find('[data-placeholder="total-apartments"]').html(tower.total_units);
  $("#tower-description").find('[data-placeholder="available-apartments"]').html(tower.total_units_available);
  if($("#tower-description").hasClass('d-none')){
    $("#tower-description").removeClass('d-none');
  }
  $.scrollTo($("#tower-description").offset().top - $('.navbar').outerHeight(), 800);
  $('.scroll-bar').animate({scrollTop: $("#"+tower.project_tower_id).offset().top - $('.scroll-bar').offset().top + $('.scroll-bar').scrollTop()});
  if(tower.assets.length > 0){
    $(".tower_image_container").show();
    $('[data-placeholder="tower_image"]').attr("src", _.first(tower.assets).file.url);
    $('[data-placeholder="tower_image"]').show();
    var gallery_html = '<div id="tower_gallery" class="carousel slide" data-ride="carousel">'
    gallery_html += '<ol class="carousel-indicators">'
    var count = 0;
    _.each(tower.assets, function(asset){
      gallery_html += '<li data-target="#tower_gallery" data-slide-to="' + count + '" class="' + (count == 0 ? "active" : "") + '"></li>';
      count += 1;
    });
    gallery_html += '</ol>'
    gallery_html += '<div class="carousel-inner">'
    var count = 0;
    _.each(tower.assets, function(asset){
      gallery_html += '<div class="carousel-item ' + (count == 0 ? "active" : "") + '">\
        <img class="d-block w-100" src="' + asset.file.url + '">\
      </div>'
      count += 1;
    });
    gallery_html += '</div>';
    gallery_html += '<a class="carousel-control-prev" href="#tower_gallery" role="button" data-slide="prev">\
        <span class="fas fa-chevron-left text-dark" aria-hidden="true"></span>\
        <span class="sr-only">Previous</span>\
      </a>\
      <a class="carousel-control-next" href="#tower_gallery" role="button" data-slide="next">\
        <span class="fas fa-chevron-right text-dark" aria-hidden="true"></span>\
        <span class="sr-only">Next</span>\
      </a>\
    </div>';
    $('[data-placeholder="gallery_tower_images"]').html(gallery_html);
    $('#tower_gallery').carousel();
  }else{
    $(".tower_image_container").hide();
    $('[data-placeholder="tower_image"]').hide();
    $('[data-placeholder="gallery_tower_images"]').html("");
  }
}
