<section class="gre-dashboard-step">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 no-pd mt-4 mb-3">
        <div class="row">
          <%= render 'admin/customer_searches/tabs/search' %>
          <%= render 'admin/customer_searches/tabs/customer' %>
          <%#= render 'admin/customer_searches/tabs/kyc' %>
          <%= render 'admin/customer_searches/tabs/sitevisit' %>
        </div>
      </div>
    </div>
  </div>
</section>