<div class="d-flex justify-content-start">
  <%= render 'admin/customer_searches/tabs/search' %>
  <%= render 'admin/customer_searches/tabs/customer' %>
  <%#= render 'admin/customer_searches/tabs/kyc' %>
  <%= render 'admin/customer_searches/tabs/sitevisit' %>
</div>


