<%= content_for :breadcrumbs do %>
  <% unless current_user.buyer? %>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%= home_path(current_user) %>">Dashboard</a></li>
        <% if email.present? %>
          <li class="breadcrumb-item"><a href="<%= admin_emails_path %>">Email</a></li>
        <% else %>
          <li class="breadcrumb-item active" aria-current="page">Emails</li>
        <% end %>
      </ol>
    </nav>
  <% end %>
<% end %>
