<section class="mb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd">
        <div class="table-title pt-1">
          <!-- <h1 class="title icon-set icon-envelope-black">
            <%= Email.model_name.human(count: @emails.total_entries) %>
          </h1> -->
          <div class="filter-search">
            <input type="text" name="" placeholder="Search Leads">
          </div>
          <div class="filter-popup">
            <a class="db-filter-btn fn-500" href="javascript:;">
              <i class="fa fa-filter fill-theme"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd">
        <div class="table-btn-set float-end pb-3 text-end">
          <% if policy([:admin, Email]).monthly_count? %>
            <%= link_to "Monthly Count", monthly_count_admin_emails_path, class: 'db-btn btn-primary fn-400 btn' %>
          <% end %>
        </div>
      </div>
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
        <div class="box-card relative">
          <%= render 'index', {emails: @emails} %>
          <div class="filter-box">
            <%= render 'filters', url: admin_emails_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
