@import "custom_variables";
@import "bootstrap/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "building";
@import "custom"; // this is the css to be modified per client

html, body{
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	font-family: 'Nunito Sans', sans-serif;
	background-color: $body-bg;
}
.logo-wrapper img{
  max-height: 65px;
}
.intl-tel-input {
  display: block;
  width: 100%;
}
.continuous-row > [class*="col-"] {
  margin-bottom: 15px;
}
.blockUI h1{
  padding-top: 10px;
  font-size: $font-size-base;
  color: $gray-600;
}
.help-block {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #a6a6a6;
}
.form-group.has-error .form-control,
.form-group.has-error .custom-select{
  border-color: $form-feedback-invalid-color !important;
}
.form-group.has-error .help-block {
  color: $form-feedback-invalid-color !important;
}
label.label-required:after {
  content: " *";
  color: $form-feedback-invalid-color;
  font-weight: normal;
}

[data-toggle="tab"].tab-error:after{
  content: "\f071";
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $form-feedback-invalid-color;
  margin: 0 6px;
}
.body-padding{
  padding-top: 87px;
}
.navbar-brand img{
  max-height: 45px;
}
#main-navbar a.nav-link{
  font-size: $font-size-base * 1.1;
}
.dot {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: inline-block;
  line-height: 34px;
}
.border-thick{
  border-width: 5px !important;
}
.fill-white{
  fill: #fff;
}
figure.wave {
  margin: 0 0 0;
}
.selldof .title{
  display: none !important;
}
.selldof .btn, .sell_do_ctc_btn, .selldof .btn, .sell_do_verify_btn{
  color: #fff !important;
  background-color: #56b654 !important;
  border-color: #56b654 !important;
  font-size: 16px !important;
}
.selldof{
  font-family: 'Nunito Sans', sans-serif !important;
}
.control-label, label{
  font-size: $font-size-base * 0.70;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}
.navbar-light .navbar-toggler{
  border: none;
}
@include media-breakpoint-down(md) {
  .modal-lg{
    width: 100%;
  }
  .navbar-collapse {
    max-height: calc(100vh - 60px);
    overflow-y: auto;
  }
}
