@import "bootstrap";
@import "intlTelInput";
body{
  color: #666;
}
label.label-required:after {
  content: " *";
  color: theme-color('danger');
  font-weight: normal;
}
.intl-tel-input {width: 100%;}

// Overriding sell.do form styling
.selldof .title{
  display: none;
  padding: 0;
}
.selldof_row{
  margin: 0 -15px;
}
.selldof .btn[type='submit'], .sell_do_ctc_btn[type='submit'], .sell_do_verify_btn[type='submit']{
  @extend .btn;
  @extend .btn-primary;
}
label.control-label{
  font-size: 11px;
  color: #999;
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 11px;
}
