.asset {
  width: 120px;
  height: 95px;
  float: left;
  margin: 0 3px 12px 0;
  padding-bottom: 2px;
  cursor: default;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.asset-inner {
  width: 52px;
  height: 52px;
  margin: 1px auto;
  padding: 2px;
  position: relative;
}

.asset-actions {
  display: none;
}

.asset-icon-image {
  background-position: 0 -250px;
}
.asset-icon {
  display: block;
  width: 48px;
  height: 48px;
  margin: 0 auto;
  background: url(file-icons.png) 0 0 no-repeat;
  background-clip: padding-box;
}

.asset-inner:hover {
  border: 0 solid;
}

.asset:hover>div.asset-actions {
  width: 120px;
  height: 52px;
  margin: 0 3px 12px 0;
  padding-top: 15px;
  padding-left: 15px;
  cursor: default;
  text-align: center;
  position: absolute;
  top: 0;
  z-index: 100;
  background: #e2f0f1;
  display: block;
}
