// @import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

// override bootstrap varialbes start
// $font-size-base: 1.125rem;
$bg-white: #fff;
$white: #fff;
$body-bg: #fefefe;
$body-color: #495057;
$primary: #006DEE;
$success: #56b654;
$info: #00BCD4;
$warning: #FFC107;
$danger: #F44336;
$dark: #666;
$font-family-base: "Poppins", Helvetica, Arial, sans-serif !default;
$dropdown-link-color: #343a40;
$btn-focus-box-shadow: none !important;
$border-radius: 4px;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$breadcrumb-divider: "\f3d3";
$modal-backdrop-opacity: 0.9 !default;
$modal-backdrop-bg: #5a6775;
// override bootstrap varialbes end

$table-bg: #fff;
$table-accent-bg: $primary;
$table-th-font-weight: 500;
$border-radius: 6px;
$popover-header-bg: #F8FBFF;
$popover-arrow-color:$popover-header-bg;
$enable-negative-margins: true;

.fw-medium{
    font-weight: 500;
}
.fn-12{
    font-size: 12px!important;
}
.bg-secondary-light{
    background: #EBEEF2 0% 0% no-repeat padding-box;
}
$input-focus-box-shadow: none;
$input-focus-border-color: none;