/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require broker
 *= require noty
 *= require noty_theme
 *= require bootstrap-datetimepicker
 *= require daterangepicker
 *= require intlTelInput
 *= require selectize
 *= require summernote-bs4
 *= require animate
 *= require sidebar-modal
 *= require jquery.fileupload
 *= require files-list
 *= require mobile_drag_drop/default
 *= require add_user_account
 *= require_self
*/

.navbar-nav{
  .nav-item{
    a.active{
      font-weight: 700;
      color: #33475b !important;
    }
  }
}

.clear{
  clear:both;
}

.searches{
  .container.project-unit-overview{
    padding: 0 !important;
  }
}

.disclaimer{
  font-size: 10px !important;
  line-height: 10px !important;
  color: #ff9871 !important;
}
.project-card{
  width: 32%;
  float: left;
  margin: 0 0 20px 1%;
}
