/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require noty.css
 *= require bootstrap-datetimepicker.css
 *= require daterangepicker.css
 *= require intlTelInput
 *= require selectize.css
 *= require tooltipster.bundle
 *= require tooltipster-sideTip-borderless.min
 *= require projectunitcustom.css
 *= require jquery.fileupload.css
 *= require colorbox
 *= require_self
*/

@import url('https://fonts.googleapis.com/css?family=Vidaloka');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600');

html, body{
	padding: 0;
	margin: 0;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	font-family: 'Poppins', sans-serif;
	background-color: #edeef0;
	overflow-x: hidden;
}
a, img, button, input[type=submit]{
	text-decoration: none;
	outline: none;
	border: 0;
	font-family: 'Poppins', sans-serif;
}
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.container{
	max-width: 1200px;
	margin: 0px auto;
	padding: 0 20px;
}
.clearfix{
	clear: both;
}
.pull-left{
	float: left !important;
}
.pull-right{
	float: right !important;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-justify{
	text-align: justify;
}
.img-responsive{
	max-width: 100%;
	height: auto;
}
.img-full{
	width: 100%;
	height: auto;
}
.center-block{
	margin: 0 auto;
}
.col-1{
	width: 8.333333333333333%;
}
.col-2{
	width: 16.66666666666667%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.33333333333333%;
}
.col-5{
	width: 41.66666666666667%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.33333333333333%;
}
.col-8{
	width: 66.66666666666667%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.33333333333333%;
}
.col-11{
	width: 91.66666666666667%;
}
.col-12{
	width: 100%;
}
.col-12-5{
	width: 20%;
}
.w70{
	width: 70%;
}
.w30{
	width: 30%;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-12-5, .w30, .w70{
	float: left;
}
section{
	float: left;
	width: 100%;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
header{
	position: absolute;
	left: 0;
	width: 100%;
	padding-left: 50px;
	top: 0;
	z-index: 10;
}
.step-bar-wrapper{
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
	display: inline-block;
	margin-left: 8px;
	background-color: rgba(0,0,0,0.15);
	border-radius: 15px;
	color: #fff;
	line-height: 30px;
	font-size: 16px;
	opacity: 0;
	visibility: hidden;

	transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
}
.step-bar-wrapper.active{
	opacity: 1;
	visibility: visible;	
}
.step-bar-wrapper>div{
	display: inline-block;
	padding: 0 55px;
	z-index: 1;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
}
.step-bar-wrapper>div.active{
	background-color: #7fb440;
	border-radius: 14px;
}
.toggle-layout{
	display: block;
	margin-bottom: 10px;
}
.toggle-layout>img:first-child, .toggle-layout.active>img:last-child{
	display: block;
	margin: 0 auto;
}
.toggle-layout>img:last-child, .toggle-layout.active>img:first-child{
	display: none;
}
.form-field-wrapper{
	position: relative;
}
.form-group{
	position: relative;
}
.form-group>span.help-block{
	position: absolute;
	top: 100%;
	font-size: 12px;
	color: #ca3f3f;
}
#user_kyc_form .form-field-wrapper>span.help-block{
	position: absolute;
	top: 100%;
	font-size: 12px;
	color: #ca3f3f;
	left: 223px;
}
.screens-wrapper{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 1;
	visibility: visible;
	padding-bottom: 50px;
	padding-left: 50px;

	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
}
.screens-wrapper.next{
	/*display: none;*/
	left: 100%;	
	opacity: 0;
	visibility: hidden;

	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
}
.screens-wrapper.prev{
	/*display: none;*/
	left: -100%;
	opacity: 0;
	visibility: hidden;

	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
}

.screens-wrapper[data-screen="1"]{
	background-image: asset-url('screen-1-bg.jpg');
	background-size: cover;
}
.logo-wrapper{
	display: inline-block;
	background-color: #fff;
	padding: 10px;
}
.logo-wrapper>img{
	display: block;
}
.pageTitle{
	color: #fff;
	font-family: 'Vidaloka', serif;
	margin-top: 30px;
	margin-bottom: 30px;
}
.pageTitle.pink{
	color: #c7589e;
	padding: 0;
	margin: 0;
}
.pageTitle.black{
	color: #000;
}
.pageTitle.biggest{
	font-size: 50px;
}
.pageTitle.big{
	font-size: 34px;
}
.pageTitle.medium{
	font-size: 28px;
}
.btn{
	display: inline-block;
	border: 0;
	background-color: #000;
	color: #fff;
	line-height: 36px;
	padding: 0 20px;
	border-radius: 18px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
	outline: none;
}
.btn:focus{
	box-shadow: none;
	-webkit-box-shadow: none;
}
.conf-select-wrapper{
	margin-bottom: 80px;
}
.dropdown-wrapper{
	display: inline-block;
	width: 60%;
}
.tower-design-wrapper{
	display: inline-block;
	margin: 0 25px;
	width: 15%;
	padding: 0 20px;
	cursor: pointer;
}
.tower-design{
    height: 250px;
    padding-top: 110px;
    color: #000000;
    font-size: 18px;
    background-color: #dcdcdc;
    box-shadow: 1px 1px 1px #b9b9b9;

    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    margin-bottom: 10px;
}
.tower-design.active{
	background-color: #c658a1;
    color: #fff;
}
#tower-selector{
	margin-bottom: 80px;
}
.filterBg{
	/*background-color: #fff;*/
	padding: 10px 10px 0 10px;
	/*border-radius: 10px;*/
}



#notify{
	position: fixed;
	left: 0;
	top: -40px;
	width: 100%;
	padding: 0 20px;
	line-height: 40px;
	font-size: 14px;
	color: #fff;
	z-index: 999;
	text-align: center;
	
	visibility: hidden;
	opacity: 0;

	transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
}
#notify.show{
	top: 0;
	visibility: visible;
	opacity: 1;	
}
#notify.error{
	background-color: #af5454;
}
#notify.success{
	background-color: #037d23;
}



/*==== Selectize Overwrite ====*/
[data-screen="1"] .selectize-input{
	border: 0;
	box-shadow: none;
	background: transparent;
	font-size: 18px;
	padding: 0;
	border-bottom: 1px solid #ffffff;
	line-height: 40px;
	color: #fff;
}
[data-screen="1"] .selectize-input > input{
	height: 41px;
	padding: 0 8px;
	color: #fff;
	font-size: 20px;
}
[data-screen="1"] .selectize-input.has-options > input{
	height: 40px;
}
[data-screen="1"] .selectize-input.dropdown-active > input{
	height: 38px;
}
[data-screen="1"] .selectize-control.single .selectize-input.input-active{
	background: transparent;
}
[data-screen="1"] ::placeholder {
    color: #bcbdc1;
    opacity: 1;
}
[data-screen="1"] :-ms-input-placeholder {
    color: #bcbdc1;
}
[data-screen="1"] ::-ms-input-placeholder {
    color: #bcbdc1;
}
[data-screen="1"] .selectize-control.single .selectize-input:after{
	border-color: #ffffff transparent transparent transparent;
}
[data-screen="1"] .selectize-dropdown{
	background-color: #ffffff80;
	border: 0;
	border-radius: 0;
}
[data-screen="1"] .selectize-input.dropdown-active::before{
	background-color: transparent;
}
/*==== Selectize Overwrite ====*/

/*==== Selectize Overwrite ====*/
[data-screen="3"] .filter-title{
	font-size: 13px;
	/*color: #9c9c9c;*/
	color: #000;
}
[data-screen="3"] .filter-item{
	margin-bottom: 15px;
	padding: 0 10px;
}
.filter-submit-wrapper{
	margin-top: 20px;
}
.margin-top-30{
	margin-top: 30px !important;
}
[data-screen="3"] .selectize-input{
	border: 0;
	box-shadow: none;
	background: transparent;
	font-size: 16px;
	padding: 0;
	border-bottom: 1px solid #cacbcc;
	line-height: 34px;
	color: #464646;
}
[data-screen="3"] .selectize-input > input{
	height: 41px;
	padding: 0 8px;
	color: #464646;
	font-size: 16px;
}
[data-screen="3"] .selectize-input.has-options > input{
	height: 34px;
}
[data-screen="3"] .selectize-input.dropdown-active > input{
	height: 32px;
}
[data-screen="3"] .selectize-control.single .selectize-input.input-active{
	background: transparent;
}
[data-screen="3"] ::placeholder {
    color: #bcbdc1;
    opacity: 1;
}
[data-screen="3"] :-ms-input-placeholder {
    color: #bcbdc1;
}
[data-screen="3"] ::-ms-input-placeholder {
    color: #bcbdc1;
}
[data-screen="3"] .selectize-control.single .selectize-input:after{
	border-color: #0e0e0e transparent transparent transparent;
}
[data-screen="3"] .selectize-dropdown{
	background-color: #fff;
	border: 0;
	border-radius: 0;
}
[data-screen="3"] .selectize-input.dropdown-active::before{
	background-color: transparent;
}
[data-screen="3"] .selectize-dropdown .active{
	background-color: #67bfec;
    color: #ffffff;
}
/*==== Selectize Overwrite ====*/
.selectize-dropdown, .selectize-input, .selectize-input input{
	font-size: 14px;
	line-height: 24px;
}



/*===== Building CSS =======*/
.apt-selector-wrapper{
	float: left;
	width: 100%;
    border: 1px solid #d0d0d0;
    padding: 36px 5px 0px 5px;
    border-radius: 10px;
    position: relative;
}
.apt-selector-wrapper:before{
    content: '';
    width: 100%;
    height: 8px;
    background-color: #d0d0d0;
    position: absolute;
    top: 20px;
    left: 0px;
}
.apt-selector-box{
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 5px;
	padding-bottom: 5px;
    text-align: justify;
    border-bottom: 1px solid #dddee0;
}
.apt-selector-box .apt{
    position: relative;
}
.apt-selector-box .apt:after{
	content: '';
	position: absolute;
	left: 100%;
    top: -6px;
    bottom: -6px;
    width: 1px;
	background-color: #dddee0;
}
.apt-selector-box.flats-7 .apt:after{
	margin-left: 23%;
}
.apt-selector-box.flats-6 .apt:after{
	margin-left: 16%;
}
.apt-selector-box.flats-5 .apt:after{
	margin-left: 14%;
}
.apt-selector-box.flats-4 .apt:after{
	margin-left: 11%;
}
.apt-selector-box.flats-3 .apt:after{
	margin-left: 8%;
}
.apt-selector-box.flats-2 .apt:after{
	margin-left: 5%;
}
.apt-selector-box:last-child .apt:after{
	content: '';
    position: absolute;
    right: -13px;
    top: -12px;
    width: 1px;
    height: 170%;
    background-color: #dddee0;
}
.apt-selector-box span.apt:last-child:after{
	width: 0px;
}
.apt-selector-wrapper .apt-selector-box:last-child{
	border-bottom: 0px solid #d0d0d0;
	margin: 0px 0px 5px 0px;
}
.apt-selector-box .floor-number{
	position: absolute;
	right: 100%;
	top: 0px;
	line-height: 20px;
	color: #b2b3b7;
	font-size: 12px;
	margin-right: 20px;
}
.caption-floor{
	position: absolute;
	left: -45px;
	top: 50%;
	transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);

	transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;

	color: #505050;
}
.bstatus-booked_confirmed{
	background-color: #f2ca7c;
}
.bstatus-na{
	background-color: #d0d0d2;
}
.bstatus-available{
	background-color: #fff;
	cursor: pointer;
}
.bstatus-available.bstatus-blocked{
	background-color: #ff882b;
}
.bstatus-selected{
	background-color: #7eb440;
}
.building-main-wrapper{
	padding-left: 50px;
}
.building-main-wrapper .pageTitle, .floor-layout-wrapper .pageTitle{
	margin-top: 10px;
	margin-bottom: 20px;
}
.padding-left-30{
	padding-left: 30px;
	padding-right: 30px;
	border-right: 1px solid #cacbcc;
}
.padding-left-30.noborder{
	border-right: none;
}
.inline-block-wrap>div{
	display: inline-block;
	vertical-align: top;
}
.flat-details{
    color: #72645c;
    padding: 7px 0;
}
.main-wrapper{
	display: inline-block;
	width: 60%;
	padding-left: 25px;
}
.apt-index-wrapper{
    margin: 20px auto;
}
.apt-index{
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
    margin-right: 6px;
}
.apt-index span{
	display: inline-block;
	border:1px solid #d0d0d0;
	margin-right: 10px;
	padding: 5px;
}
.main-wrapper .flats-7 span{
	float: left;
  	display: block;
    border: 1px solid #d0d0d0;
    height: 18px;
    width: 10.2857143%;
    margin: 0 2% 0 2%;
}
.main-wrapper .flats-6 span{
	float: left;
  	display: block;
    border: 1px solid #d0d0d0;
    height: 18px;
    width: 12.6666667%;
    margin: 0 2% 0 2%;
}
.main-wrapper .flats-5 span{
  	float: left;
  	display: block;
    border: 1px solid #d0d0d0;
    height: 18px;
    width: 16%;
    margin: 0 2% 0 2%;
}
.main-wrapper .flats-4 span{
  	float: left;
  	display: block;
    border: 1px solid #d0d0d0;
    height: 18px;
    width: 21%;
    margin: 0 2% 0 2%;
}
.main-wrapper .flats-3 span{
  	float: left;
  	display: block;
    border: 1px solid #d0d0d0;
    height: 18px;
    width: 29.3333333%;
    margin: 0 2% 0 2%;
}
.main-wrapper .flats-2 span{
  	float: left;
  	display: block;
    border: 1px solid #d0d0d0;
    height: 18px;
    width: 46%;
    margin: 0 2% 0 2%;
}
.main-wrapper .flats-1 span{
  	float: left;
  	display: block;
    border: 1px solid #d0d0d0;
    height: 18px;
    width: 96%;
    margin: 0 2% 0 2%;
}
/*===== Building CSS End =======*/