.floor-plan-wrapper{
	padding-right:50px;
}
.client-details{
    padding: 60px 0px 0px 60px;
    position: relative;
   	/*border-left:1px solid #d0d0d0;*/
}
.client-details:before{
	content: '';
	position: absolute;
	left: 0px;
	top: 30px;
	width: 1px;
	height: 100%;
	background-color: #d0d0d0;
}
.name-plate{
	display: inline-block;
	background-color: #925347;
	background-image: asset-url('Pattern.png');
	background-repeat: repeat;
	color: #fff;
    padding: 10px 20px;
    position: relative;
    line-height: 26px;
    text-align: center;
    outline: 1px solid #be8267;
    outline-offset: -2px;
}
.client-name{
	font-weight: 600;
	font-size: 20px;
	display: inline-block;
}
.flat-no{
	font-size: 20px;
	display: inline-block;	
}
.left-top{
	position: absolute;
	left: 4px;
	top: -2px;
}
.right-top{
	position: absolute;
	right: 4px;
	top: -2px;
}
.right-bottom{
	position: absolute;
	right: 4px;
	bottom: -3px;
}
.left-bottom{
	position: absolute;
	left: 4px;
	bottom: -3px;
}
.client-details .pageTitle.pink{
	margin: 25px 0px;
}
.client-details .flat-details{
    font-size: 18px;
    color: #4a4a4c;
    margin-bottom: 25px;
    line-height: 30px;
}
.client-details .btn.white{
	background-color: #fff;
	color: #454545;
	border:1px solid #454545;
	margin-right: 10px;
}
.dashboard-menu{
	width: 50px;
	padding: 10px 0px;
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100%;
	background-color: #fff;
	z-index: 99;
	-webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    -webkit-transform: translateZ(0) scale(1,1);
	overflow: hidden;
	/*box-shadow: 1px 0px 5px #cacaca;*/
}
.dash-menu-wrapper div, .dash-menu-footer div{
	width: 250px;
}
/*.dashboard-menu .menu-items, .dashboard-menu .menu-items-hide{
	transition:0.7s;
	display: none;
}*/
.dashboard-menu:hover{
	width: 250px;
}
.dashboard-menu:hover .menu-items, .dashboard-menu:hover .menu-items-hide{
	width: 190px;
	display: inline-block;
}
.dash-logo{
	height: 97px;
	margin: 10px 0px 20px 0px;
}
.dash-menu-wrapper{
	margin: 30px 0px;
}
.dash-menu-wrapper a, .dash-menu-footer a{
    text-transform: uppercase;
    color: #9b9b9e;
    display: block;
    border-left: 5px solid transparent;
    padding: 15px 0px;
    position: relative;
}

.dash-menu-wrapper a.active .menu-items:after{
	content: '\2212';
}
.dash-menu-wrapper a .menu-items:after{
	content: '\002B';
	position: absolute;
	right: 15px;
	top: 15px;
}
.dash-menu-wrapper a:hover, .dash-menu-wrapper a.active, .dash-menu-footer a:hover{
	/*color: #454545;	
	border-left: 5px solid #c558a1;*/
}
.dash-menu-wrapper .sprite-dasboard{
	display: inline-block;
	margin: 0 11px;
	vertical-align: bottom;
	background-image: asset-url('dash-board-Sprite-Icon.png');
	background-repeat: no-repeat;
}
.dash-menu-footer .sprite-signout{
	display: inline-block;
	margin: 0 11px;
	vertical-align: bottom;
	background-image: asset-url('Signout-Icon.png');
	background-repeat: no-repeat;	
}
.dash-menu-wrapper .booking-details{
	background-position: -61px -0px;
	width: 24px;
	height: 26px;
}
.dash-menu-wrapper .kyc-form{
	background-position: -64px -58px;
}
.dash-menu-wrapper .payment-details{
	background-position: -65px -122px;
	width: 24px;
	height: 26px;
}
.dash-menu-wrapper .apartment-selector{
	background-position: -63px -180px;

}
.dash-menu-wrapper a:hover .booking-details, .dash-menu-wrapper a.active .booking-details {
	background-position: -0px -0px;
	width: 24px;
	height: 26px;
}
.dash-menu-wrapper a:hover .kyc-form, .dash-menu-wrapper a.active .kyc-form {
	background-position: -3px -58px;

}
.dash-menu-wrapper a:hover .payment-details, .dash-menu-wrapper a.active .payment-details {
	background-position: -4px -122px;
	width: 24px;
	height: 26px;
}
.dash-menu-wrapper a:hover .apartment-selector, .dash-menu-wrapper a.active .apartment-selector {
	background-position: -2px -180px;
}
.dash-menu-footer .sign-out{
	background-position: 0 0;
	width: 24px;
	height: 21px;
}
.dash-menu-footer a:hover .sign-out, .dash-menu-footer a.active .sign-out{
	background-position: 0 -29px;
	width: 24px;
	height: 21px;
}
.dash-menu-wrapper .submenu{
	display: none;
}
.dash-menu-wrapper .submenu a{
	padding: 10px 0px;
    margin-left: 15px;
    color: #454545;
    border-left: 0px;
}
.dash-menu-footer{
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.dash-menu-footer .menu-items-hide{
	width: 190px;
	display: inline-block;
}
.booking-detail-wrapper{
    color: #74645c;
    font-size: 16px;
    width: 100%;
    margin: 50px 0px;
    background-color: #fff;
    box-shadow: 0px 0px 13px #cacaca;
    border-left:3px solid #46bfe9;
    margin-bottom: 30px;
}
.booking-detail-wrapper hr{
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 10px 0;
    padding: 0; 
}
.applicant-wrapper{
	padding-left: 10px
}
.payment-details-wrapper{
	padding: 10px 20px 0px 20px
}
.payment-details-wrapper span{
	font-weight: 600;
	text-transform: capitalize;
}
.applicant-wrapper .applicant{
	font-weight: 600;
	margin: 5px 0px;
}
.applicant-wrapper .applicant span{
	display: inline-block;
}
.tower-info-wrapper{
	padding: 10px;
}
.imp-notes{
	padding: 10px 10px 10px 20px;
}
.imp-notes ul{
	margin-top: 0px;
}
.tower-info-wrapper.grey{
	background-color: #f2f2f2
}
.tower-info-wrapper.grey .col-6{
	padding-right: 20px;
}
.tower-info{
	margin: 0px 10px;
	font-size: 18px;
}
.tower-info span{
	display: block;
	color: #454545;
}
.tower-specs{
	padding: 10px 0px 5px 10px;
}
.tower-specs:last-child{
	padding: 10px 0px 5px 10px;
}
.tower-specs .title{
	color: #74645c;
	font-size: 16px;
	display: block;
}
.tower-specs .specs{
	color: #454545;
	font-size: 16px;
	font-weight: 600;
}
.booking-btn-wrapper{
	padding: 0px 0px 30px 20px
}
.booking-btn-wrapper .btn{
	display: inline-block;
    border: 0;
    background-color: #454545;
    color: #fff;
    line-height: 36px;
    padding: 0 20px;
    border-radius: 0px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    margin-right: 20px;
}
.booking-btn-wrapper .btn.pink{
	background-color: #cf5d9c;
}
.mbottom50{
	margin-bottom: 50px;
}
.form-field-wrapper label{
	display: inline-block;
	color: #9b9b9e;
	width: 220px;
	vertical-align: middle;
}
.form-field-wrapper label.black{
	color: #454545;
}
.form-field-wrapper .form-field, .form-field-wrapper select.form-field{
	padding: 8px 5px;
    width: 60%;
    font-family: inherit;
    background-color: #fff;
    display: inline-block;
    border: 1px solid #d2d2d2;
}
.cancel-booking-wrapper, .kyc-form-wrapper{
	padding: 15px 0px 20px 0px;
	width: 100%;
}
.add-booking-wrapper{
	padding: 15px 0px;
	width: 100%;
	margin-top: 10px;
}
.form-field-wrapper{
	margin-bottom: 20px;
}

.form-field-wrapper .dropdown-wrapper{
	vertical-align: middle;
}
.light-grey{
	color: #9b9b9e
}
.form-field-wrapper .checkbox{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.form-field-wrapper .checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.form-field-wrapper .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.form-field-wrapper .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid #d2d2d2;
}

/* On mouse-over, add a grey background color */
.form-field-wrapper .checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.form-field-wrapper .checkbox input:checked ~ .checkmark {
    background-color: #c7589e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.form-field-wrapper .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.form-field-wrapper .checkbox input:checked ~ .checkmark:after {
    display: block;
}
.form-field-wrapper .btn{
	display: inline-block;
    border: 0;
    color: #000;
    margin-top: 20px;
    line-height: 36px;
    border-radius: 0px;
    padding: 0 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}
.form-field-wrapper .btn.yellow{
	background-color: #efa332
}
.checkout-btn{
	background-color: #c558a1;	
	display: inline-block;
    border: 0;
    color: #fff;
    line-height: 36px;
    border-radius: 0px;
    padding: 0 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}
.cancel-btn{
	background-color: #454545;	
	display: inline-block;
    border: 0;
    color: #fff;
    line-height: 36px;
    border-radius: 0px;
    padding: 0 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    outline: none;	
}
.radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.radio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio input:checked ~ .checkmark {
    background-color: #c7589e;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio .checkmark:after {
    top: 6px;
    left: 6px;
    width: 6px;
    height: 6px;
	border-radius: 50%;
	background: white;
}
.form-field-wrapper label.radio{
	width: 150px;
}
.hidden-field.poa{
	display: none;
	margin-left: 225px;
}
/*.hidden-field.poa{
	display: none;
	margin-left: 0px;
}*/
.hidden-field.gstin{
	display: none;
	margin-left: 225px;
}
.hidden-field.bank{
	display: none;
	margin-left: 225px;
}
.hidden-field.bank .select-bank{
	width: 74%;
}
hr.divider{
	margin: 20px 0px;
}
.hidden-field-prev-prop{
	display: none;
	margin-left: 225px;
}
input[type="file"]::-webkit-file-upload-button{
    display: inline-block;
    background-color: #c2c3c5;
    border: 0;
    color: #454545;
    margin-top: 20px;
    line-height: 36px;
    border-radius: 0px;
    padding: 0 20px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}
/*.mediaCenterAccordion{
		padding-left: 0px;
		margin-top: 30px;
}
.mediaCenterAccordion> li {
    display: inline-block;
    list-style: none;
    width: 100%;
    margin: 0px 0%;
    vertical-align: top;
    color: #454545;
    border-bottom: 1px solid #9b9b9e;
    padding-bottom: 3px;
}
.mediaCenterAccordion > li > span {
    display: block;
    margin: 1px 3px;
    padding: 6px 0px;
    background-image: asset-url('Plus-Icon.png');
    background-repeat: no-repeat;
    background-position: 99.5% 9px;
    background-size: 23px;
    cursor: pointer;
    font-size: 16px;
    color: #9b9b9e;
    text-transform: uppercase !important;
}
.mediaCenterAccordion > li > div {
    list-style: none;
    padding: 0px 0px 20px 0px;
    display: none;
    overflow: auto;
}
.mediaCenterAccordion li > span.active {
    background-image: asset-url('minus-Icon.png');
    background-repeat: no-repeat;
    background-position:  99.5% 9px;
    background-size: 26px;
}
.mediaCenterAccordion li > span{
	margin: 10px 0px;
}*/
.subtitle{
	font-size: 24px;
	color:#666666;
}
.payment-details{
	padding-left: 30px;
}
.payment-details p{
	margin: 0px 0px 5px 0px;
	font-size: 18px;
}
.subtitle.small{
	font-size: 20px;
	font-weight: 600;
	margin: 30px 0px;
	text-transform: uppercase;
}
.table-white{
	background-color: #fff;
	border: 1px solid #cecece
}

.table-white th{
	background-color: #eee;
}
.table-white td{
	border-bottom:1px solid #ccc;
	text-align: center;
}
.table-white td.grey{
	background-color: #f0f0f0;
}
.table-white td.dark-grey{
	background-color: #5e5e5e;	
	color: #fff;
}
.table-white td.center{
	text-align: center;
}
.payment-breakup th{
	background-color: #a5cbde;
	color: #454545;
}
.payment-breakup td{
	border-bottom:1px solid #ccc;
}
.payment-breakup td.grey{
	background-color: #dadada;
}
.payment-breakup td.dark-grey{
	background-color: #5e5e5e;	
	color: #fff;
}
.payment-breakup td.center{
	text-align: center;
}
.receipt-table-wrapper{
	padding: 30px;
}
.receipt-table{
	margin-bottom: 30px;
}
.receipt-table th{
	background-color: #f2f2f2;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-weight: normal;
}
.receipt-table th:first-child, .receipt-table td:first-child{
	border-left: 1px solid #ccc;
}
.receipt-table td{
	text-align: center;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.acknowledge-wrapper{
	padding: 30px;
}
.acknowledge-wrapper p{
	margin: 0px;
	color: #454545;
}
.receipt-wrapper {
    color: #74645c;
    font-size: 16px;
    width: 100%;
    margin: 20px 0px;
    background-color: #fff;
    border: 1px solid #c7c7c7;
    margin-bottom: 30px;
}
.dashboard-banner{
	/*margin-top: 30px;
	padding: 70px 0px;
	background-image: asset-url('screen-1-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover*/
}
.mtop10{
	margin-top: 10px;
}
.alert.alert-info{
	background-color: #c558a1;
	color:#fff;
	font-size: 18px;
	line-height: 35px;
	text-transform: capitalize;
}
.mleft70{
	padding-bottom: 50px;
}
/*.banner-btn{
	display: inline-block;
	margin:10px 0px;
	background-color: #fff;
	color: #c558a1;
	padding: 8px 10px;
	font-weight: 600;
	font-size: 18px;
}*/
.small-link{
	display: inline-block;
    font-size: 10px;
    text-decoration: underline;
    margin: 0 10px;
    color: #c558a1;
}
.booking-detail-wrapper .wrapper{
	padding: 10px 0px;
}
.header-wrapper{
	top: 35px;
}
.section-wrapper{
	margin-top: 5%;
}
.mtop30{
	margin-top: 30px;
}
.message-wrapper{
	width: 80%;
	margin: 20px auto;
	background-color: #fff;
	border: 1px solid #cacaca;
	padding: 20px
}
@media all and (max-width: 1366px){
	.mleft70{
		padding-left: 50px;
	}
}