<div class="card w-100">
  <div class="card-body">
    <p>
      Dear <%= @resource.name %>,
    </p>
    <div class="mb-3"></div>
    <% if @resource.try(:unconfirmed_email?) %>
      <p><%= I18n.t("devise.keys.email_being_changed", name: @resource.unconfirmed_email) %></p>
    <% else %>
      <p><%= I18n.t("devise.keys.email_has_changed", name: @resource.email) %></p>
    <% end %>
  </div>
</div>

