<div class="card w-100">
  <div class="card-body">
    <p>
     <%= I18n.t("devise.keys.dear_resource", name: @resource.name) %>,
    </p>
    <div class="mb-3"></div>
    <p><%= I18n.t("devise.text_msg.reset_password") %></p>
    <div class="mb-3"></div>
    <%= link_to I18n.t("devise.keys.change_my_password"), edit_password_url(@resource, reset_password_token: @token) %>
  </div>
</div>
