<section class="editform-section padding-side-30 padding-xs-user">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-left mtop10">
          <p class="pageTitle big text-gray">EDIT USER PROFILE</p>
      </div>
      <div class="col-md-10 border-left-0 border-top-0 border-bottom-0 full-phone">
        <%= render 'form' %>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</section>
