<div class="row">
  <div class="col-md-8 border border-left-0 border-top-0 border-bottom-0">
    <% if @user.role?('user') %>
	<script src='http://1.sell.do/t/587ddb2b5a9db31da9000002.js'></script>
	<script src="http://1.sell.do/t/forms/587ddb2b5a9db31da9000002/587ddb2f5a9db31da900004b.js" data-form-id="587ddb2f5a9db31da900004b"></script>
    <% else %>
      <%= render 'form' %>
    <% end %>
  </div>
  <div class="col-md-4">
  </div>
</div>
