<%= content_for :breadcrumbs do %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%= after_sign_in_path_for(current_user) %>">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Users</li>
    </ol>
  </nav>
<% end %>
<section class="padding-side-30 padding-xs-user">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-left mtop10">
          <p class="pageTitle big pink">ADD USERS</p>
      </div>
      <div class="col-md-10 border-left-0 border-top-0 border-bottom-0 full-phone white-wrapper">
        <% if @user.role?('user') %>
        	<script src='//trkr.scdn1.secure.raxcdn.com/t/531de108a7a03997c3000002.js'></script>
          <script src='//trkr.scdn1.secure.raxcdn.com/t/forms/531de108a7a03997c3000002/563498849ddc787cd80002a6.js' data-form-id='563498849ddc787cd80002a6'></script>
        <% else %>
          <%= render 'form' %>
        <% end %>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</section>
<style type="text/css">
  .full-phone .selldo-intl-tel-input{
    display: block;
  }
</style>