<% if @users.present? || params[:template].include?('list_sales_users') %>
  $('<%= params[:element] %>').html("<%= j (render partial: params[:template], :locals => {:users => @users } ) %>");
<% else %>
  $('<%= params[:element] %>').html("<p>No Users found </p>");
<% end %>
