<% render "breadcrumbs" %>
<section class="padding-side-22">
	<div class="container-fluid">
		<div class="row">
		   <div class="col-12 text-left mtop10">
	          <p class="pageTitle big pink">EDIT PARTNER REGISTRATIONS</p>
	      </div>	
		  <div class="col-md-12 border-left-0 border-top-0 border-bottom-0">
		    <%= render 'form', channel_partner: @channel_partner %>
		  </div>
		</div>
	</div>
</section>
