<% render "breadcrumbs" %>
<div class="row">
  <div class="col-md-8 border border-left-0 border-top-0 border-bottom-0">
    <%= render 'form', channel_partner: @channel_partner %>
  </div>
  <div class="col-md-4">
  </div>
</div>
