<section class="dashboard-bg full-height white-bg-xs">
    <div class="container">
        <div class="col-12 login-card-wrapper">
            <div class="login-card">
                <a href="javascript:void(0);" class="logo-wrapper">
                  <img src="<%= asset_path "embassy_springs_logo.png" %>" class="img-responsive" />
                </a>
                <div class="pageTitle purple text-center">Register Now</div>
                <div class="form-wrapper register-cp">
                    <%= render 'form', channel_partner: @channel_partner %>
                </div>
                <div class="col-12 separator relative text-center">
                    <div class="part-links">
                        <a href="javascript:;" style="cursor:default">Already Registered?</a> 
                        <a class="btn" href="/users/sign_in">Sign In</a>    
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>

