<div class="row">
  <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
    <%= render "receipts/time_slot", receipts: lead.receipts.direct_payments, with_actions: true %>
  </div>
</div>
<%= javascript_tag do %>
  $(document).ready(function(){
  var count = <%= raw lead.receipts.direct_payments.where(:"time_slot".exists => true).count %>
    if(count != 0){
      $('#collapseTimeSlots').collapse('show')
    }
  });
<% end %>
