<div class="container form-group mt-3 text-right pr-0">
  <button onclick="window.print();" class="btn btn-primary">Print</button>
</div>
<%= render '/receipts/show', receipt: @receipt %>
<%= javascript_tag do %>
  window.print();
<% end %>
