<header class="col-app-12 fixed left top shrink bg-white">
    <div class="container">
        <div class="pull-left left-header nav-links">
            <a href="/" rel="home" class="brand-logo"><img src="<%= asset_path 'beyondwalls-logo.svg' %>" data-event-category="Header" data-event-action="Click" data-event-name="Logo" /></a>
        </div>
        <div class="pull-right right-header">
            <div class="pull-right upper-right-header hidden-xs hidden-portrait">
              <div class="pull-right ml-2">
                <%= link_to 'Sign in', new_user_session_path, {class: 'green-btn sign-in-button', 'data-event-category': 'Header', 'data-event-action': 'Click', 'data-event-name': 'Login'} %>
              </div>
              <% if params[:action] == 'channel_partners' %>
              <div class="enquire-now-wrapper pull-right">
                <a data-event-category="Header" data-event-action="Click" data-event-name="Register Now" class="enquire-now-btn green-btn register-btn">Register Now</a>
              </div>
              <% end %>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</header>
