<div class="container">
  <div class="row justify-content-center">
    <div class="<%= @email.blank? ? 'col-md-9' : 'col-md-12' %>">
      
      <div class="card">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-7">
            </div>
            <div class="col-md-5 text-md-right">
              <h6 class="mt-2">Total Audits : <%= @audits.total_entries %></h6>
            </div>
          </div>
          <%= render 'index', {audits: @audits} %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="d-md-none mt-3"></div>

      <%= render "filters" %>
    </div>
  </div>
</div>

