<section class="mb-5 mt-3">
  <div class="">
    <div class="row">
      
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-p">
        <div class="table-btn-set float-right pb-1 text-end mt-2">
          <!--
          <div class="filter-search">
            <input type="text" name="" placeholder="Search Name/Email/Phone">
          </div>
          -->
          <div class="filter-popup">
            <a class="db-filter-btn fn-500" href="javascript:;">
              <i class="fa fa-filter fill-theme"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
        <div class="box-card relative">
           <%= render 'index', { push_notifications: @push_notifications } %>
          <div class="filter-box">
            <%= render "filters", url: admin_push_notifications_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br/><br/>
