<% links = [] %>

<% if CustomPolicy.custom_methods.present? %>
  <% CustomPolicy.custom_methods.each do |method| %>
    <% if policy(:custom).send("#{method}?") %>
        <% links << { method: method.to_s.titleize, link: eval("custom_#{method}_path"), name: t("controller.#{method}.index.link_name"), options: (method == 'sales_board' ? {target: '_blank'} : {}) } %>
      </li>
    <% end %>
  <% end %>
<% end %>

<% if links.present? %>
  <div class="dropdown">
    <%= active_link_to t('global.custom'), "javascript:;", active: [CustomPolicy.custom_methods.map{|x| 'admin/'+x}, ['index']], class: "nav-link dropdown-toggle", data: {toggle: 'dropdown'},  id: "dropdownMenuLeft3", "data-bs-toggle": "dropdown", "data-bs-target":"#dashboardMore", "aria-expanded": "false" %>
    <div id="dashboardMore" class="dropdown-menu" aria-labelledby="dropdownMenuLeft3">
      <% links.each do |link| %>
        <%= active_link_to link[:name], link[:link], link[:options].merge(class: 'dropdown-item') %>
      <% end %>
    </div>
  </div>
<% end %>

<% if links.present? %>
  <% links.each do |link| %>
    <div class="d-lg-none">
      <%= active_link_to link[:name], link[:link], active: :inclusive, class: "nav-link" %>
    </div>
  <% end %>
<% end %>
<% template = ::Template::UITemplate.where(booking_portal_client_id: current_client.try(:id), name: 'terms_and_conditions').first %>
<% if (current_client.present? && template.present?) || current_client.blank? %>
  <div class='d-lg-none'>
    <%= link_to I18n.t("global.link_to.tnc"), terms_and_conditions_path, active: :exclusive, class: 'nav-link pl-0 pr-0', target: "_blank" %>
  </div>
<% end %>
