
<% links = [] %>

<% if CustomPolicy.custom_methods.present? %>
  <% CustomPolicy.custom_methods.each do |method| %>
    <% if policy(:custom).send("#{method}?") %>
        <% links << { method: method.to_s.titleize, link: eval("custom_#{method}_path"), name: t("controller.#{method}.index.link_name")} %>
      </li>
    <% end %>
  <% end %>
<% end %>

<% if links.present? %>
  <li class="nav-item d-none d-lg-block">
    <div class="dropdown">
      <%= active_link_to t('global.custom'), "javascript:;", active: [CustomPolicy.custom_methods.map{|x| 'admin/'+x}, ['index']], class: "nav-link dropdown-toggle pl-0 pr-0", data: {toggle: 'dropdown'} %>
      <div class="dropdown-menu dropdown-menu-right menu-top">
        <% if current_client.enable_actual_inventory?(current_user) %>
          <%= link_to t('helpers.new.link_name', model: BookingDetail.model_name.human), new_admin_booking_detail_path, class: 'dropdown-item modal-remote-form-link' %>
        <% end %>
        <% links.each do |link| %>
          <%= link_to link[:name], link[:link], class: "dropdown-item" %>
        <% end %>
      </div>
    </div>
  </li>
<% end %>

<% if links.present? %>
  <% links.each do |link| %>
    <li class="nav-item d-lg-none">
      <%= active_link_to link[:name], link[:link], active: :inclusive, class: "nav-link" %>
    </li>
  <% end %>
<% end %>
