<%# <% if current_client.enable_actual_inventory?(current_user) && ENV_CONFIG[:pusher]['pusher_api_key'].present? %>
  <!-- <div id="gamification-container" class="card py-2 bg-gradient text-white d-print-none">
    <div id="gamification-carousel" class="carousel" data-ride="carousel">
      <div class="carousel-inner">
        <% Gamification::Base.new.dashboard_data(current_user).each_with_index do |text, index| %>
          <div class="carousel-item <%= index.zero? ? 'active' : ''%>">
            <span><%= text %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div> -->
  <%#= javascript_tag do %>
    <%# $(document).ready(function(){
      $('#gamification-carousel').carousel({
        interval: 7000
      });
    });
  <%# end %>
<%# end %>
