<li class='nav-item'>
  <div class="btn-group dropup">
    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= t("language.#{params[:locale] || I18n.default_locale }", default: "language.en")%>
    </a>
    <div class="dropdown-menu">
      <% ['en', 'mr'].each do |language| %>
        <%= link_to t("language.#{language}"), url_for(params.permit!.merge(locale: language) ), class: 'dropdown-item' %>
      <% end %>
    </div>
  </div>
</li>
<% if current_client.terms_and_conditions.present? %>
  <li><%= link_to 'T & C', dashboard_terms_and_condition_path, active: :exclusive, class: 'footer-link', target: "_blank" %></li>
<% end %>
<li><%= link_to 'Powered by Sell.do', 'https://www.amuratech.com', class: 'footer-link', target: "_blank" %></li>
