<footer class="bg-white footer fixed-bottom p-0 pt-2 pb-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 no-pd">
        <div class="footer-top">
          <p class="m-0 pb-2"><%= current_project.name %> is registered via MahaRERA No.: <%= current_project.rera_registration_no %> & is available on <a href="https://maharera.mahaonline.gov.in" target="_blank">https://maharera.mahaonline.gov.in</a>.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-8 col-xs-12 col-sm-12 no-pd">
        <ul class="footer-menu float-left mb-1">
          <%= bottom_navigation %>
        </ul>
      </div>
      <div class="col-lg-6 col-md-4 col-xs-12 col-sm-12 no-pd">
        <ul class="footer-menu float-right mb-1">
          <li><%= link_to 'Powered by Amura', 'https://www.amuratech.com', class: 'footer-link', target: "_blank" %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
