<footer class="bg-white footer fixed-bottom p-0 pt-1">
  <div class="container">
    <% if defined?(current_user) && current_user %>
      <div class="row pb-1 footer-tow-cmn">
        <div class="col-lg-6 col-md-8 col-xs-6 col-sm-4 no-pd">
          <ul class="footer-menu text-start mb-0">
            <%= bottom_navigation %>
          </ul>
        </div>
        <!-- <div class="col-lg-6 col-md-4 col-xs-6 col-sm-8 no-pd">
          <ul class="footer-menu mb-0 text-end text-right">
            <%#= render "layouts/language" %>
          </ul>
        </div>
      </div> -->
    <% end %>
    <% template = ::Template::UITemplate.where(booking_portal_client_id: current_client.try(:id), name: 'layouts/_navbar_footer').first %>
    <% if template.present? && template.is_active? %>
      <div class="row scroll-footer">
        <% if defined?(current_user) && current_user %>
          <hr class="w-100 m-0">
        <% end %>
        <div class="col-lg-6 col-md-6 no-pd">
          <div class="footer-top footer-menu">
              <%= get_view_erb(template, check_active: true) %>
          </div>
        </div>
        <%# unless defined?(current_user) && current_user %>
          <!-- <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 no-pd">
            <ul class="footer-menu mb-0 text-end text-right">
              <%#= render "layouts/language" %>
            </ul>
          </div> -->
        <%# end %>
      </div>
    <% end %>
  </div>
</footer>

<%= javascript_tag do %>
  <% if defined?(current_user) && current_user %>
    $(window).scroll(function(){
      if($(window).scrollTop() > 100){
        $('.scroll-footer').hide(600);
        $('#gamification-container').css('bottom','2.5rem');
      }
      // Only show disclamer bar when scroll in top position
      if ( $(window).scrollTop() == 0 ) { //|| $(window).scrollTop() == $(document).height() - $(window).height()) {
        $('.scroll-footer').show(600);
        $('#gamification-container').css('bottom','5rem');
      }
    });
  <% end %>
<% end %>
