<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'broker' %>
</head>

<body class="">
    <header>
        <div class="header-leftbar">
          <div class="leftbar-wrap">
            <div class="header-logo">
              <a href="javascript:;"><img src="<%=  asset_path 'launchpad-banner-logo.svg' %>" class="img-fluid"></a>
            </div>
            <div class="header-menu">
              <ul class="list-unstyled">
                <li>
                  <a href="javascript:;" class="active"><span><i class="fa fa-table fill-white"></i></span> Dashboard</a>
                </li>
                <li>
                  <a href="javascript:;"><span><i class="fa fa-building fill-white"></i></span>Projects</a>
                </li>
                <li>
                  <a href="javascript:;"><span><i class="fa fa-user-friends fill-white"></i></span> My Customers</a>
                </li>
                <li>
                  <a href="javascript:;"><span><i class="fa fa-calendar-check fill-white"></i> </span> My Bookings</a>
                </li>
                <li>
                  <a href="javascript:;"><span><i class="fa fa-sack-dollar fill-white"></i></span> My Payments</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="header-topbar">
            <div class="header-inner">
                <div class="float-start">
                    <h1 class="page-title">Dashboard</h1>
                </div>
                <div class="d-sm-inline-block float-end">
                    <div class="header-search d-sm-inline-block">
                        <a href="javascript:;" class="header-search-icon"><span class="icon-search"></span></a>
                    </div>
                    <div class="header-notify d-sm-inline-block px-4">
                        <a href="javascript:;"><i class="fa fa-bell fill-black"></i><span class="notify-no">45</span></a>
                    </div>
                    <div class="header-add-new d-sm-inline-block px-3">
                        <a href="javascript:;"><i class="fa fa-plus-square fill-primary wd-24 ht-24"></i></a>
                    </div>
                    <div class="account-menu d-sm-inline-block">
                        <a href="javascript:;" class="">
                            <span class="user-first-ltr">JW</span>
                            <span class="user-name">Jamison Walker</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="page-wrapper">
    <%= yield %>
    </main>
</body>

</html>
